.consultations {
  #header .titles {
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding: 0;
  }

  .lead em {
    font-style: normal;
    background-color: lightgoldenrodyellow;
  }

  section {
    margin: 2em 0;
  }

  #kontakt h2 {
    margin: 3rem 0 1rem;
  }
}
