/* generals */

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: 0;
  border-bottom: 1px solid #cecece;
}

h1, h2, h3 {
  font-family: 'Merriweather', 'Arial', serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

b, strong {
  font-weight: 600;
}

/* custom */

table.table-pricing {
  margin: 0;

  td, th {
    border: 1px solid #eceeef;
    padding: 1.5rem 3rem;
    vertical-align: middle;
  }

  th {
    font-weight: 300;
  }

  tr:first-child th, tr:first-child td {
    border-top: 0;
  }
  tr:last-child td {
    border-bottom: 0;
  }
  tr td:first-child,
  tr th:first-child {
    border-left: 0;
  }
  tr td:last-child,
  tr th:last-child {
    border-right: 0;
  }
}

.pricing-more {
  font-size: 1.2rem;
}

#header {
  background: #292524;
  color: white;
}

#header .flight {
  background-image: url(image-path('services/govbox/flight.png'));
  background-size: auto 3rem;
  background-repeat: no-repeat;
  background-position: 14rem 6rem;
  text-align: center;

  @media (max-width: 991px) {
    background: none;
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}


#header img {
  position: relative;
  z-index: 2;
}

#header .label {
  background: #cb3235;
  padding: 6px 13px;
  margin-left: 15px;
  position: relative;
  top: -5px;
  color: rgba(255, 255, 255, 0.82);
}

#header .titles {
  margin-top: 6rem;
}

.govbox_api #header .titles {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

#header h1 {
  margin-bottom: 2rem;
  display: inline-block;
}

#api-image {
  display: flex;
  position: relative;

  img {
    margin: auto auto 0 auto;
  }
}

#how, #pricing {
  font-size: 1.3rem;
}

#how .table {
  margin: 2rem 0;
}

#how .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#how h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#how .weirdo {
  width: 11px;
  height: 11px;
  background: white;
  margin: 29px auto 0;
  border-radius: 13px;
  border: 1px solid #adadad;
  position: relative;
  left: -1px;
  top: 0;
}

#how .weirdo2 {
  margin: 0 auto 0;
  position: relative;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #adadad transparent transparent transparent;
}

#how ul, #how li, #how-to-use ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#how-to-use li {
  padding-bottom: 1rem;
}

#how tr td:first-child {
  padding-left: 2rem;
}

#how tr td:last-child {
  padding-right: 2rem;
}

#how .theirs {
  border-right: 1px solid #adadad;
}

#how .ours .fa-thumbs-o-up, #how .api .fa-thumbs-o-up {
  color: #366ce6;
}

#how .table td {
  border: none;
}

#how .bordered {
  border: 1px solid #e7e6eb;
  padding: 1rem 0;
  margin: 3rem 1rem 0;
}

#how .ours .bordered, #how .api .bordered {
  box-shadow: 0 0 4px #bfbfbf;
}

#how .api {
  padding: 2rem;
  padding-bottom: 0;
  max-width: 50rem;
  margin: 0 auto;
}

#how small {
  font-weight: 300;
  font-size: 1.3rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

#how mark {
  font-size: 0.75rem;
  background: #f9fad2;
  padding: 0.2rem;
}

#pricing h2 {
  margin: 3rem 0 1rem;
}

#pricing em, #free_activation em {
  color: #8fcd46;
  font-weight: 800;
  font-style: normal;
}

#pricing a {
  color: #2b56b4;
  text-decoration: underline;
}

#pricing .shadow {
  box-shadow: 0 0 6px #c1c1c1;
  padding: 2rem;
  padding-bottom: 0;
  max-width: 50rem;
  margin: 0 auto;
}

#free_activation {
  padding: 1em 0;
}

#registration {
  text-align: center;
}

#registration .number {
  box-shadow: 0 0 4px #ababab;
  display: inline-block;
  padding: 10px 19px;
  border-radius: 32px;
  color: #376ee5;
  background: white;
  height: 57px;
  width: 57px;
  line-height: 38px;
}

#registration .what {
  color: #3e3e3e;
  font-size: 1.2rem;
  max-width: 248px;
  display: block;
  margin: 28px auto 35px;
}

#registration .horizontal {
  border-color: #376ee5;
  position: relative;
  z-index: -2;
  top: 42px;
  width: 67%;
}

#registration .last {
  box-shadow: 0 0 17px #cccccc;
  padding: 46px 2rem 10px;
  position: relative;
  top: -46px;
  border: 1px solid #c4c3c9;

}

#registration .last .number {
  background: #376ee5;
  color: white;
  width: 74px;
  height: 72px;
  padding: 17px 15px;
  border-radius: 100px;
  margin-top: -15px;
}

.use-case {
  margin-bottom: 1rem;
}

.use-case i {
  margin: 1.5rem;
}

.govbox.footer {
  padding: 2rem 0 3rem;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: #2b56b4;
  text-decoration: underline;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

.legal {
  margin-top: 5rem;

  h1 {
    font-size: 2rem;
  }

  h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  h5 {
    margin-top: 2rem;
  }
}

.pricing ol {
  font-weight: bold;

  & li > span {
    font-weight: 300;
  }
}

.govbox {
  @media (max-width: 767px) {
    #registration .last {
      box-shadow: none;
    }

    #registration hr {
      display: none;
    }
    .desktop, .weirdo, .weirdo2 {
      display: none;
    }
    #how .theirs {
      border-right: 0;
    }

    #header .titles, .govbox_api #header .titles {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
      .badge {
        font-size: 1rem;
      }
    }

    #how h2, #pricing h2, #registration h2 {
      font-size: 1.3rem;
      small {
        font-size: 1.1rem;
      }
    }

    #registration .what {
      font-size: 0.9rem;
    }

    #registration .last {
      margin-top: 3rem;
    }

    .lead {
      font-size: 0.9rem;
    }

    .lead mark {
      line-height: 1.5rem;
    }

    #pricing, #how, .pricing-more {
      font-size: 0.9rem;
    }

    #pricing .shadow {
      padding: 1rem;
    }
  }

  @media (max-width: 992px) {
    .lead {
      font-size: 1rem;
    }

    #pricing, #how, #registration, .pricing-more {
      font-size: 1.1rem;
    }

    #registration .what {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 1199px) {
    #header .titles, .govbox_api #header .titles {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    #header .flight {
      background-position: 14rem 3rem;
    }
  }
}
