<div><strong>Staršie verzie cenníka</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platný od 1.6.2019 do 30.9.2020', pricing_v4_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 28.9.2019 do 31.5.2020', pricing_v3_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 8.1.2018 do 27.9.2019', pricing_v2_services_govbox_index_path %></li>
  <li><%= link_to 'platný od 9.6.2017 do 7.1.2018', pricing_v1_services_govbox_index_path %></li>
</ul>
