<div><strong>Staršie verzie podmienok</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platné od 25.05.2018 do 31.03.2022', terms_v3_services_govbox_index_path %></li>
  <li><%= link_to 'platné od 01.08.2017 do 24.05.2018', terms_v2_services_govbox_index_path %></li>
  <li><%= link_to 'platné od 09.06.2017 do 31.07.2017', terms_v1_services_govbox_index_path %></li>
</ul>
