<div><strong>Staršie verzie podmienok</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platné od 25.5.2018 do 15.3.2022', terms_v3_services_govbox_index_path %></li>
  <li><%= link_to 'platné od 1.8.2017 do 24.5.2018', terms_v2_services_govbox_index_path %></li>
  <li><%= link_to 'platné od 9.6.2017 do 31.7.2017', terms_v1_services_govbox_index_path %></li>
</ul>
