<div class="govbox">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 titles">
          <h1>Často kladené otázky</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-8">
        <p class="lead"><strong>Ako to celé funguje?</strong></p>
        <p>Dá sa to zjednodušene predstaviť ako elektronický poštár. Akonáhle Vám príde zásielka do štátnej schránky, náš softvér ju automaticky pošle na Vami zvolený email. Správy zo schránky Vám budeme zasielať na základe Vášho splnomocnenia.</p>

        <p class="lead"><strong>Ako to celé funguje?</strong></p>
        <p>Dá sa to zjednodušene predstaviť ako elektronický poštár. Akonáhle Vám príde zásielka do štátnej schránky, náš softvér ju automaticky pošle na Vami zvolený email. Správy zo schránky Vám budeme zasielať na základe Vášho splnomocnenia.</p>
      </div>
    </div>

    <div class="mt-5 mb-5">
      <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-success btn-lg' do %>
          <strong>Mám záujem o GovBox</strong>
      <% end %>
    </div>
  </div>
</div>