<div class="govbox">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="mt-5 mb-5 title-heading">GovBox: Často kladené otázky</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-8 mb-5">
        <p class="lead"><strong>Ako to celé funguje?</strong></p>
        <p>Dá sa to zjednodušene predstaviť ako elektronický poštár. Akonáhle Vám príde správa do štátnej schránky, náš softvér ju automaticky pošle na Vami zvolený email. Správy zo schránky Vám budeme posielať na základe Vášho splnomocnenia.</p>

        <p class="lead"><strong>Čo potrebujem na spustenie služby?</strong></p>
        <p>Stačia 3 jednoduché kroky:</p>
        <ol>
          <li>Vyplniť registračný formulár na našej stránke. Začiatkom júna Vám mailom pošleme predvyplnenú zmluvu a splnomocnenie.</li>
          <li>Zmluvu a splnomocnenie vytlačíte a podpíšete u notára.</li>
          <li>Zašlete nám ich poštou a my zadáme požiadavku na zapojenie služby na strane štátu.</li>
        </ol>

        <p class="lead"><strong>Kedy mi začnú chodiť prvé správy po registrácii?</strong></p>
        <p>Prvých záujemcov začneme pripájať začiatkom júna. Pošleme Vám podklady na podpis. Od momentu keď ich od Vás dostaneme späť, by pripojenie na strane štátu malo trvať cca. týždeň, maximálne 30 dní. Budeme sa samozrejme snažiť, aby to bolo čo najkratšie a o začiatku poskytovania služby Vás budeme informovať mailom. Ak sa obávate, že medzičasom Vám do štátnej schránky príde dôležitá správa, do zriadenia služby máte samozrejme možnosť pristupovať k schránke pomocou eID.</p>

        <p class="lead"><strong>Kedy a čo mi bude chodiť do štátnej elektronickej schránky?</strong></p>
        <p>Od 1.7.2017 budú subjektom zapísaným v OR SR povinne aktivované elektronické štátne schránky. To znamená, že do nich majú byť doručované všetky úradné správy a dokumenty. Dnes to tak robí napríklad sociálna poisťovňa. Viacero úradov na túto skutočnosť nie je pripravených a dá sa očakávať, že naďalej budú doručovať správy papierovo.</p>

        <p class="lead"><strong>Posiela GovBox iba upozornenie, že v schránke niečo mám?</strong></p>
        <p>Nie, systém posiela celé správy aj s prílohami, nielen informáciu o tom, že sú v schránke. Môžete si ich teda prečítať napríklad aj na mobile v prehľadnom formáte. GovBox rovnako dokáže zabezpečiť doručovanie do vlastných rúk bez potreby prihlasovať sa na Slovensko.sk.</p>

        <p class="lead"><strong>Môžem stále vstupovať do svojej schránky aj keď používam GovBox?</strong></p>
        <p>Počas používania služby GovBox nie je Váš prístup do elektronickej schránky pomocou eID nijako limitovaný. Avšak z technických dôvodov NASES (prevádzkovateľ schránok na portáli Slovensko.sk) počas tejto doby neodporúča manipulovať so schránkou. Ak by sa to stalo, nevieme garantovať správne preposlanie správ, s ktorými bolo manipulované. Ak si napríklad "ručne" zo schránky zmažete novú správu, služba GovBox ju nebude môcť nájsť a preposlať ju na Váš e-mail.</p>

        <p class="lead"><strong>Ako bude fungovať doručovanie do vlastných rúk?</strong></p>
        <p>Ak Vám do schránky príde správa do vlastných rúk, pošleme Vám o tom informáciu. Ak si budete želať správu prevziať, potvrdíte to heslom. Následne Vám doručíme samotnú správu a bude sa považovať za prebratú.</p>

        <p class="lead"><strong>Dá sa cez GovBox aj odpovedať na štátne správy?</strong></p>
        <p>Na úradné dokumenty (napr. stavebné povolenie) doručované do schránok, nie je štandardne možné jednoducho “odpovedať” zo schránky. GovBox ani nemá byť náhradou za štátne schránky, ale ich nadstavbou, ktorá záujemcom umožní jednoduchšou formou sprístupnenia správ v schránke bez potreby elektronického občianskeho preukazu a bez prihlasovania sa na Slovensko.sk.</p>

        <p class="lead"><strong>Znamená to, že už nepotrebujem elektronický občiansky preukaz (eID)?</strong></p>
        <p>Ak potrebujete len dostávať správy zo štátnej schránky, cez GovBox to viete vybaviť aj bez eID. Ak by ste plánovali so štátom komunikovať elektronicky aj opačným smerom (podávať elektronické podania, žiadosti a podobne), budete eID potrebovať a v takom prípade ho odporúčame vybaviť. Stále však môžete využívať prínosy našej služby, ktorá automaticky posiela štátne správy priamo na Váš email. Ušetríte tak čas na prihlasovanie sa do Slovensko.sk a vyhľadávanie správ.</p>

        <p class="lead"><strong>Je GovBox bezpečný?</strong></p>
        <p>Máme zabezpečené interné postupy na to, aby boli Vaše správy v bezpečí. Komunikácia medzi našim systémom a schránkou na Slovensko.sk je zabezpečená štandardným postupom, aký využívajú aj iné organizácie, ako aj štátne informačné systémy. Naše systémy a databázy sú zabezpečené a zálohované na viacerých úrovniach. Samozrejme za zabezpečenie Vášho emailu, kam správy posielame, zodpovedáte Vy - voľte preto tento email uvážlivo a oboznámte sa s pravidlami jeho zabezpečenia.</p>

        <p class="lead"><strong>Existuje riziko, že mi správa nepríde? Čo ak mi nebude fungovať email?</strong></p>
        <p>GovBox bude posielať týždenný sumár, v ktorom nájdete prehľad všetkých poslaných správ, aby Vám nič neušlo. V prípade dlhších výpadkov alebo nemožnosti doručiť email, Vás budeme kontaktovať aj alternatívnou cestou (SMS).</p>

        <p class="lead"><strong>Čo ak mi správy prídu do spam-u?</strong></p>
        <p>Je potrebné nastaviť si spam filter tak, aby správy z adresy govbox@govbox.slovensko.digital nezaraďoval medzi spam.</p>

        <p class="lead"><strong>Platí sa za službu?</strong></p>
        <p>Áno. Príjmy zo služby GovBox prispejú na náklady a financovanie aktivít Slovensko.Digital. V prípade, ak používateľom neprídu žiadne správy, služba bude v tom mesiaci zdarma. Budeme transparentne informovať o tom, ako sa prostriedky používajú.</p>

        <p class="lead"><strong>Ako bude služba fakturovaná?</strong></p>
        <p>Prvý mesiac služby je zdarma. Následne budeme vystavovať faktúru každý kvartál za predošlé tri mesiace. Ak ste v niektorom z mesiacov nedostali žiadnu správu, za službu v ten mesiac neplatíte.</p>

        <p class="lead"><strong>Čo ak mi príde viac ako 20 správ za mesiac?</strong></p>
        <p>Ak to očakávate už dnes, kontaktujte nás na <%= mail_to 'podpora@slovensko.digital' %>. Ak sa to stane po spustení služby, ozveme sa Vám my. Samozrejme, správy Vám doručíme, nemusíte sa obávať.</p>

        <p class="lead"><strong>Môžem zriadiť GovBox aj keď nie som štatutár, ale splnomocnenec, splnomocnený generálnou plnou mocou?</strong></p>
        <p>V tomto prípade bohužiaľ nebude stačiť generálna plná moc. V zmysle usmernenia NASES, splnomocnenie, ktoré Vám zašleme, musí podpísať osoba oprávnená konať v zmysle ORSR a tou je samotný štatutár.</p>

        <p class="lead"><strong>Je možné si vybaviť GovBox aj v prípade, že štatutár nie je občan Slovenskej republiky?</strong></p>
        <p>Áno, je to možné. Splnomocnenie, ktoré Vam pošleme po dokončení registrácie, je nutné potvrdiť, ideálne u slovenského notára. V prípade, ak podpis overuje notár mimo SR, je potrebná aj následná superlegalizácia alebo apostila.</p>

        <p class="lead"><strong>Mám už aktivovanú schránku na Slovensko.sk. Môžem napriek tomu využívať GovBox?</p>
        <p>Áno, samozrejme. Ku schránke môžete pristupovať službou GovBox a súčasne aj cez grafické rozhranie pomocou eID. V taktomto prípade však pre nové správy, s ktorými budete manipulovať (napr. správu otvoríte, premiestnite, prijmete doručenku) skôr, ako budú prečítané službou GovBox, nemôžeme garantovať ich správne spracovanie.</strong></p>
        
        <p class="lead"><strong>Čo ak si aktivujem GovBox, ale nemám zriadený prístup na Slovensko.sk? Dostanem sa k starším správam, ktoré už mám v schránke na Slovensko.sk?</strong></p>
        <p>Áno. Po aktivácii služby GovBox, Vám vieme preposlať všetky emaily, ktoré vo Vašej schránke máte.</p>

        <div class="mt-5 mb-5 text-center">
          <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-success btn-lg' do %>
            <strong>Už mám záujem o GovBox</strong>
          <% end %>
        </div>

        <p class="lead"><strong>Nenašli ste, čo ste hľadali?</strong></p>
        <p>Kontaktujte nás na <%= mail_to 'podpora@slovensko.digital' %></p>
      </div>
    </div>
  </div>
</div>
