<div class="govbox">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 titles">
          <h1>Často kladené otázky</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-8">
        <p class="lead"><strong>Ako to celé funguje?</strong></p>
        <p>Dá sa to zjednodušene predstaviť ako elektronický poštár. Akonáhle Vám príde zásielka do štátnej schránky, náš softvér ju automaticky pošle na Vami zvolený email. Správy zo schránky Vám budeme zasielať na základe Vášho splnomocnenia.</p>

        <p class="lead"><strong>Čo potrebujem na spustenie služby?</strong></p>
        <p>Stačia 3 jednoduché kroky:</p>
        <ol>
          <li>vyplniť registračný formulár na našej stránke. Začiatkom júna Vám mailom pošleme predvyplnenú zmluvu a splnomocnenie</li>
          <li>Zmluvu a splnomocnenie vytlačíte a podpíšete u notára</li>
          <li>Zašlete nám ich poštou a my zadáme požiadavku na zapojenie služby na strane štátu</li>
        </ol>

        <p class="lead"><strong>Kedy mi začnú chodiť prvé správy po registrácii?</strong></p>
        <p>Prvých záujemcov začneme pripájať začiatkom júna. Pošleme Vám podklady na podpis. Od momentu odkedy ich od Vás dostaneme, by pripojenie na strane štátu malo trvať v rozmedzí 5-30 dní. Budeme sa samozrejme snažiť, aby to bolo čo najkratšie. Ak sa obávate, že po 1.7. Vám do štátnej schránky príde dôležitá zásielka, odporúčame Vám pre istotu vybaviť si eID. Výhody našej služby môžete využívať aj tak - ušetrí Vám napríklad čas na prihlasovanie sa do schránky na slovensko.sk a správy budete dostávať rovno na email, napríklad aj v mobile.</p>

        <p class="lead"><strong>Nenašli ste, čo ste hľadali?</strong></p>
        <p>Kontaktujte nás na <%= mail_to 'podpora@slovensko.digital' %></p>


        <div class="mt-5 mb-5 text-center">
          <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-success btn-lg' do %>
            <strong>Mám ešte väčší záujem o GovBox</strong>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>