<div id="header">
  <div class="container">
    <div class="row flight">
      <div class="col-6 titles">
        <h1>GovBox <span class="badge badge-danger">ALFA</span></h1>
        <p class="lead lead-short">Jednoduchý prístup k štátnej elektronickej schránke <strong>priamo cez Váš email a&nbsp;bez elektronického občianskeho preukazu.</strong></p>
        <p class="lead"><mark>Vedeli ste, že od 1. júna 2017 musia všetky právnické osoby zapísané v&nbsp;obchodnom registri komunikovať so&nbsp;štátom elektronicky?</mark></p>
      </div>
      <div class="col-6 text-center">
        <%= image_tag 'services/govbox/header.png', class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>


<div id="how" class="container">
  <div class="row">
    <div class="col-12">
      <br /><h2>Ako funguje GovBox?</h2>
      <h3>Porovnajte si ponuku štátu s našou ponukou sami:</h3>
      <div class="weirdo"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 theirs">
      <h2 class="bordered">Štátna schránka<br /> <small>na slovensko.sk</small></h2>
      <table class="table">
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-down"></i></td>
          <td class="text-left"><strong>2 hodiny</strong> klikania</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-down"></i></td>
          <td class="text-left"><strong>2 návštevy</strong> na krajskej polícii</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-down"></i></td>
          <td class="text-left">opakované prihlasovanie <strong>čítačkou</strong></td>
        </tr>
      </table>
    </div>
    <div class="col-6 ours">
      <h2 class="bordered">GovBox<br /> <small>od Slovensko.Digital</small></h2>

      <table class="table">
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><strong>0 hodín</strong> klikania</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><strong>1 návšteva</strong> ľubovoľného notára</td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left">preposielanie správ <strong>bez prihlasovania</strong></td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><mark>NAVYŠE</mark> zobrazenie <strong>na mobile</strong></td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><mark>NAVYŠE</mark> týždenný <strong>sumár</strong></td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><mark>NAVYŠE</mark> zobrazenie <strong>na mobile</strong></td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><mark>NAVYŠE</mark> <strong>prehľadnejšie správy</strong></td>
        </tr>
        <tr>
          <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
          <td class="text-left"><mark>NAVYŠE</mark> <strong>podporujete Slovensko.Digital</strong></td>
        </tr>
      </table>
    </div>
    <div class="weirdo2"></div>
  </div>
</div>

<div id="pricing" class="container">
  <div class="mt-5 text-center">
      <h2>Cenník</h2>
      <h3><strong>Platí iba ak GovBox naozaj používate.</strong><br /> Všetky príjmy idú na aktivity nášho občianskeho zdrženia Slovensko.Digital.</h3><br />
  </div>

  <div class="shadow">
    <table class="table table-pricing table-responsive">
      <tr>
        <th><strong>Pripojenie na schránku</strong><br><span class="text-muted">Jednorázový poplatok</span></th>
        <td><em>9€</em></td>
      </tr>
      <tr>
        <th><strong>Prvý mesiac</strong></th>
        <td><em>zadarmo</em></td>
      </tr>
      <tr>
        <th><strong>Mesačný poplatok</strong><br /><span class="text-muted">do 20 správ mesačne</span></th>
        <td class="w-50">
          <em>8€ / mesiac</em> <br> alebo <br> <em>zadarmo</em> <span class="text-muted text-small">ak nedostanete žiadne správy</span></p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center pricing-more">
          <p>Potrebujete viac ako 20 správ mesačne?<br /> Integráciu na Váš interný systém cez API? Dedikovanú podporu?</p>
          <p><%= link_to 'Kontakujte nás', 'https://slovensko.digital/kontakt' %></p>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="registration" class="container">
  <div class="row">
    <div class="col-12">
      <br /><br /><br />
      <h2>Ako získam GovBox?</h2><br />
      <h3>Jednoduchá registrácia a jedna návšteva notára: <span class="desktop"><br /></span><strong>všetky potrebné dokumenty vyplníme za Vás</strong>.</h3>
    </div>
  </div>
  <br /><br />

  <div class="row">
    <hr class="horizontal" />
    <div class="col-4">
      <div class="number">1</div>
      <span class="what">Zaregistrujete sa a&nbsp;zaslané dokumenty si vytlačíte.</span>
    </div>
    <div class="col-4">
      <div class="number">2</div>
      <span class="what">Dokumenty podpíšte u&nbsp;notára a&nbsp;zašlete nám ich poštou.</span>
    </div>
    <div class="col-4">
      <div class="last">
        <div class="number"><i class="fa fa-check"></i></div>
        <span class="what"><strong>Hotovo!</strong> Onedlho Vám začnú na zvolený email chodiť všetky správy zo štátnej schránky.</span>
      </div>
    </div>
  </div>

  <p class="mt-5 mb-5">
    <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-primary btn-xl' do %>
    <strong>Zaregistruj sa</strong>
    <% end %>
  </p>
</div>