<div class="govbox">
  <div id="header">
    <div class="container">
      <div class="row flight">
        <div class="col-md-6 titles">
          <h1>GovBox <span class="badge badge-danger">ALFA</span></h1>
          <p class="lead lead-short">Jednoduchý prístup k štátnej elektronickej schránke
            <strong>priamo cez Váš email a&nbsp;bez elektronického občianskeho preukazu.</strong></p>
          <p class="lead">
            <mark>Vedeli ste, že od 1.júla 2017 bude štát právnickým osobám zapísaným v obchodnom registri posielať úradné zásielky do&nbsp;elektronickej schránky?</mark>
          </p>
        </div>
        <div class="col-md-6 text-center">
          <%= image_tag 'services/govbox/header.png', srcset: "#{path_to_image('services/govbox/header@2x.png')} 2x", class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>


  <div id="how" class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Ako funguje GovBox?</h2>
        <p class="lead text-muted">Porovnajte si ponuku štátu s našou ponukou sami:</p>
        <div class="weirdo"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 theirs">
        <h2 class="bordered">Štátna schránka<br/>
          <small>na slovensko.sk</small>
        </h2>
        <table class="table">
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>6 krokov</strong>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-toggle-class="text-left" data-html="true" title="1. vybavenie elektronického občianskeho preukazu na polícii.<br>2. vyzdvihnutie občianskeho preukazu na polícii (lehota 30 dní). <br>3. inštalácia softvéru.<br> 4. navigácia na slovensko.sk<br> 5. zadanie PIN.<br> 6. otvorenie správy v&nbsp;schránke.<br><strong>Nutnosť opakovať kroky 4,5,6 pre čítanie nových správ.</strong>"></i>
            </td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>1 hodina</strong> klikania</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left"><strong>2 návštevy</strong> na polícii</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-clock-o text-danger"></i></td>
            <td class="text-left">opakované prihlasovanie <strong>pomocou čítačky</strong></td>
          </tr>
        </table>
      </div>
      <div class="col-sm-6 ours">
        <h2 class="bordered">GovBox<br/>
          <small>od Slovensko.Digital</small>
        </h2>

        <table class="table">
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>3 kroky</strong>
              <i class="fa fa-question-circle" data-toggle="tooltip" data-toggle-class="text-left" data-html="true" title="1. jednoduchá registrácia online.<br>2. podpis splnomocnenia u&nbsp;notára.<br> 3. zaslanie dokumentov poštou. <br><strong>Automatické preposielanie správ na email.</strong>"></i>
            </td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>0 hodín</strong> klikania</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left"><strong>1 návšteva</strong> ľubovoľného notára</td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">preposielanie správ <strong>bez prihlasovania</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              zobrazenie <strong>na mobile</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              týždenný <strong>sumár</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              <strong>prehľadnejšie správy</strong></td>
          </tr>
          <tr>
            <td class="text-right"><i class="fa fa-thumbs-o-up"></i></td>
            <td class="text-left">
              <mark>NAVYŠE</mark>
              <strong>podporujete Slovensko.Digital</strong></td>
          </tr>
        </table>
      </div>
      <div class="weirdo2"></div>
    </div>
  </div>

  <div id="pricing" class="container">
    <div class="mt-5 text-center">
      <h2>Cenník</h2>
      <p class="lead text-muted">
        <strong>Platíte iba ak GovBox naozaj používate.</strong><br/> Príjmy idú na aktivity občianskeho združenia Slovensko.Digital.
      </p><br/>
    </div>

    <div class="shadow">
      <table class="table table-pricing table-responsive">
        <tr>
          <th><strong>Pripojenie na schránku</strong><br><span class="text-muted">Jednorázový poplatok</span></th>
          <td><em>9€</em></td>
        </tr>
        <tr>
          <th><strong>Prvý mesiac</strong></th>
          <td><em>zadarmo</em></td>
        </tr>
        <tr>
          <th><strong>Mesačný poplatok</strong><br/><span class="text-muted">do 20 správ mesačne</span></th>
          <td class="w-50">
            <em>8€ / mesiac</em> <br> alebo <br> <em>zadarmo</em>
            <span class="text-muted text-small">ak nedostanete žiadne správy</span></p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center pricing-more">
            <p>Potrebujete viac ako 20 správ mesačne?<br/> Integráciu na Váš interný systém cez API? Dedikovanú podporu?
            </p>
            <p><%= link_to 'Kontakujte nás', 'https://slovensko.digital/kontakt' %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="registration" class="container">
    <div class="row">
      <div class="col-md-12">
        <br/><br/><br/>
        <h2>Ako získam GovBox?</h2><br/>
        <p class="lead text-muted">Jednoduchá registrácia a jedna návšteva notára:
          <span class="desktop"><br/></span><strong>všetky potrebné dokumenty vyplníme za Vás</strong>.</p>
      </div>
    </div>
    <br/><br/>

    <div class="row">
      <hr class="horizontal"/>
      <div class="col-md-4">
        <div class="number">1</div>
        <span class="what">Zaregistrujete sa a&nbsp;zaslané dokumenty si vytlačíte.</span>
      </div>
      <div class="col-md-4">
        <div class="number">2</div>
        <span class="what">Dokumenty podpíšte u&nbsp;notára a&nbsp;zašlete nám ich poštou.</span>
      </div>
      <div class="col-md-4">
        <div class="last">
          <div class="number"><i class="fa fa-check"></i></div>
          <span class="what"><strong>Hotovo!</strong> Onedlho Vám začnú na zvolený email chodiť všetky správy zo štátnej schránky.</span>
        </div>
      </div>
    </div>

    <div class="mt-5 mb-5">
      <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-success btn-xl' do %>
          <strong>Mám záujem o GovBox</strong>
      <% end %>
      <p class="lead mt-5 text-muted">Prvých klientov začneme zapájať už 1. júna. Zaregistrujte sa včas.</p>
    </div>
  </div>
</div>