<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-6 col-1-offset titles">
        <h1>GovBox <span class="badge badge-danger">ALFA</span></h1>
        <div class="flight"></div>
        <p class="lead lead-short">Jednoduchý prístup k štátnej elektronickej schránke <strong>priamo cez váš email a&nbsp;bez elektronického občianskeho preukazu.</strong></p>
        <p class="lead"><mark>Vedeli ste, že od 1. júna 2017 musia všetky právnické osoby zapísané v&nbsp;obchodnom registri komunikovať so&nbsp;štátom elektronicky?</mark></p>
      </div>
      <div class="col-6 text-center">
        <%= image_tag 'services/govbox/header.png' %>
      </div>
    </div>
  </div>
</div>


<div id="how" class="container">
  <div class="row">
    <div class="col-12">
      <br /><h2>Ako funguje GovBox?</h2>
      <h3>Porovnajte si ponuku štátu s našou ponukou sami:</h3>
      <div class="weirdo"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 theirs">
      <h2 class="bordered">Štátna schránka<br /> <small>na slovensko.sk</small></h2>
      <br />

      <ul>
        <li><i class="fa fa-thumbs-o-down"></i><strong>2 hodiny</strong> klikania</li>
        <li><i class="fa fa-thumbs-o-down"></i><strong>2 návštevy</strong> na polícií</li>
        <li><i class="fa fa-thumbs-o-down"></i>Nutnosť opakovane sa prihlásiť <strong>každý krát</strong></li>
      </ul>
    </div>
    <div class="col-6 ours">
      <h2 class="bordered">GovBox<br /> <small>od Slovensko.Digital</small></h2>
      <br />

      <ul>
        <li><i class="fa fa-thumbs-o-up"></i><strong>0 hodín</strong> klikania</li>
        <li><i class="fa fa-thumbs-o-up"></i><strong>1 návšteva</strong> notára</li>
        <li><i class="fa fa-thumbs-o-up"></i>preposielanie správ <strong>bez prihlasovania</strong></li>
        <li><i class="fa fa-thumbs-o-up"></i><aside>NAVYŠE</aside>zobrazenie <strong>na mobile</strong></li>
        <li><i class="fa fa-thumbs-o-up"></i><aside>NAVYŠE</aside>týždenný <strong>sumár</strong></li>
        <li><i class="fa fa-thumbs-o-up"></i><aside>NAVYŠE</aside><strong>prehľadnejšie správy</strong></li>
        <li><i class="fa fa-thumbs-o-up"></i><aside>NAVYŠE</aside><strong>podporujete Slovensko.Digital</strong></li>
      </ul>
    </div>
    <div class="weirdo2"></div>
  </div>
</div>

<div id="pricing" class="container">
  <div class="row">
    <div class="col-12">
      <h2>Cenník</h2>
      <h3><strong>Platí iba ak GovBox naozaj používate.</strong><br /> Všetky príjmy idú na aktivity nášho občianskeho zdrženia Slovensko.Digital.</h3><br />
    </div>
  </div>

  <div class="shadow">
    <div class="row bottom align-items-center">
      <div class="col-7 left"><strong>Pripojenie na schránku</strong><span class="desktop"><br /></span> Jednorázový poplatok</div>
      <div class="col-5 price"><i>9€</i></div>
    </div>

    <div class="row bottom align-items-center">
      <div class="col-7 left"><strong>Prvý mesiac</strong></div>
      <div class="col-5 price"><i>zadarmo</i></div>
    </div>

    <div class="row bottom align-items-center">
      <div class="col-7 left"><strong>Mesačný poplatok</strong><br />Až do 20 správ mesačne</div>
      <div class="col-5 price"><i>zadarmo</i><br />alebo <br> <i>8€/mesiac</i></div>
    </div>

    <div class="row center">
      <div class="col-12">
        Potrebujete viac ako 20 správ mesačne?<br /> Integráciu na Váš interný systém cez API? Dedikovanú podporu?
        <br />
        <a href="/">Kontakujte nás</a>
      </div>
    </div>
  </div>
</div>

<div id="registration" class="container">
  <div class="row">
    <div class="col-12">
      <br /><br /><br />
      <h2>Ako získam GovBox?</h2><br />
      <h3>Jednoduchá registrácia a jedna návšteva notára: <span class="desktop"><br /></span><strong>všetky potrebné dokumenty vyplníme za vás</strong>.</h3>
    </div>
  </div>
  <br /><br />

  <div class="row">
    <hr class="horizontal" />
    <div class="col-4">
      <div class="number">1</div><br />
      <span class="what">Zaregistrujte sa<br /> a zaslané dokumenty<br /> si vytlačíte.</span>
    </div>
    <div class="col-4">
      <div class="number">2</div><br />
      <span class="what">Dokumenty podpíšte<br /> u notára a zašlete<br /> nám ich poštou.</span>
    </div>
    <div class="col-4">
      <div class="last">
        <div class="number"><i class="fa fa-check"></i></div><br />
        <span class="what"><strong>Hotovo!</strong>&nbsp;Onedlho vám začnú<br /> na zvolený email chodiť všetky<br /> správy zo štátnej schránky.</span>
      </div>
    </div>
  </div>

  <a href="/" class="button">Zaregistruj sa</a>
  <br /><br /><br />

</div>