<div class="container autoform">
  <h1><strong>GovBox</strong> <span class="label label-danger">ALFA</span></h1>
  <p class="lead">Jednoduchý prístup k štátnej elektronickej schránke.<br>
    <em>Bez elektronického občianskeho preukazu, priamo cez Váš email.</em></p>

  <hr>

  <h2>Vedeli ste, že?</h2>
  <p class="lead"><em>Od 1. júla 2017 právnické osoby</em> zapísané v obchodnom registri
    <em>musia komunikovať</em> so štátom elektronicky.</p>

  <hr>

  <h2>Ako funguje GovBox?</h2>
  <p class="lead">GovBox preposiela správy na Vami zadaný email. Všetky správy (aj tie do vlastných rúk) otvoríte pohodlne aj na mobile, bez akýchkoľvek problémov.</p>

  <h2>Registrácia</h2>
  <p class="lead"><em>Jednoduchá registrácia, všetky potrebné dokumenty už vyplníme za Vás.</em></p>
  <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-default btn-lg btn-strong' do %>
      <strong>Zaregistrovať</strong>
  <% end %>
</div>
