<div class="container autoform">
  <h1><strong>GovBox</strong> <span class="label label-danger">ALFA</span></h1>
  <p class="lead">Jednoduchý prístup k štátnej elektronickej schránke.<br>
    <em>Bez elektronického občianskeho preukazu, priamo cez Váš email.</em></p>

  <hr>

  <h2>Vedeli ste, že?</h2>
  <p class="lead"><em>Od 1. júla 2017 právnické osoby</em> zapísané v obchodnom registri
    <em>musia komunikovať</em> so štátom elektronicky.</p>

  <hr>

  <h2>Ako funguje GovBox?</h2>
  <p class="lead">GovBox preposiela správy na Vami zadaný email. Všetky správy (aj tie do vlastných rúk) otvoríte pohodlne aj na mobile, bez akýchkoľvek problémov.</p>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-default panel-danger">
        <div class="panel-heading text-center"><h3>Štátna schránka na&nbsp;slovensko.sk</h3></div>
        <ul class="list-group">
          <li class="list-group-item text-center text-danger"><i class="fa fa-thumbs-down"></i> potreba elektronického občianskeho preukazu s&nbsp;čipom a čítačky kariet</li>
          <li class="list-group-item text-center text-danger"><i class="fa fa-thumbs-down"></i> nepoužiteľné na mobilných zariadeniach</li>
          <li class="list-group-item text-center text-danger"><i class="fa fa-thumbs-down"></i> neustále komplikované prihlasovanie do schránky s čítačkou</li>
          <li class="list-group-item text-center text-danger"><i class="fa fa-thumbs-down"></i> neprehľadné a komplikované ovládanie</li>
          <li class="list-group-item text-center text-danger"><i class="fa fa-thumbs-down"></i> <strong>štátny projekt za milióny eur</strong></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-success">
        <div class="panel-heading text-center"><h3>GovBox od Slovensko.Digital</h3></div>
        <ul class="list-group">
          <li class="list-group-item text-center text-success"><i class="fa fa-check"></i> úplne bez potreby elektronického občianskeho preukazu</li>
          <li class="list-group-item text-center text-success"><i class="fa fa-check"></i> kompletná funkcionalita aj na mobile</li>
          <li class="list-group-item text-center text-success"><i class="fa fa-check"></i> bez prihlasovania, preberanie zásielok do vlastných rúk cez heslo</li>
          <li class="list-group-item text-center text-success"><i class="fa fa-check"></i> prehľadné správy, týždenné sumáre</li>
          <li class="list-group-item text-center text-success"><i class="fa fa-check"></i> <strong>podporujete aktivity Slovensko.Digital</strong></li>
        </ul>
      </div>
    </div>
  </div>

  <h3>Cenník</h3>
  <p class="lead"><em>Všetky príjmy budú použité na aktivity občianskeho združenia Slovensko.Digital.</em></p>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>Základ <br><small>9&euro; aktivácia, potom <strong>zadarmo</strong></small></h3></div>
        <div class="panel-body text-center"><strong>Ideálne pre väčšinu firiem.</strong></div>
        <ul class="list-group">
          <li class="list-group-item text-center">do 3 správ mesačne</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-success">
        <div class="panel-heading text-center"><h3>Štandard <br><small>9&euro; aktivácia, potom 8&euro; mesačne</small></h3></div>
        <div class="panel-body text-center"><strong>Pre firmy častejšie komunikujúce so štátom.</strong></div>
        <ul class="list-group">
          <li class="list-group-item text-center">od 3 do 20 správ mesačne</li>
          <li class="list-group-item text-center"><strong>Prvý mesiac zadarmo</strong></li>
          <li class="list-group-item text-center">Lepší pocit z podpory Slovensko.Digital</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>Enterprise <br><small><a href="mailto:kontakt@slovensko.digital">Kontaktujte nás</a></small></h3></div>
        <div class="panel-body text-center"><strong>Pre firmy s množstvom dennej agendy.</strong></div>
        <ul class="list-group">
          <li class="list-group-item text-center"><strong>Neobmedzený počet</strong> správ mesačne</li>
          <li class="list-group-item text-center"><strong>Prvý mesiac zadarmo</strong></li>
          <li class="list-group-item text-center">Integrácia na Váš interný systém cez API</li>
          <li class="list-group-item text-center">Dedikovaná podpora</li>
        </ul>
      </div>
    </div>
  </div>


  <h2>Ako získam GovBox?</h2>
  <p class="lead"><em>Jednoduchá registrácia</em> a jedna návšteva notára. <em>Všetky potrebné dokumenty vyplníme za Vás.</em></p>

  <div class="row">
    <div class="col-md-4 text-center">
      <h3 class="text-huge">1.</h3>
      <p class="lead">Zaregistrujete sa a&nbsp;zaslané dokumenty si vytlačíte.</p>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-huge">2.</h3>
      <p class="lead">Dokumenty podpíšete u notára a&nbsp;zašlete nám ich poštou.</p>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-huge">3.</h3>
      <p class="lead"><strong>Hotovo!</strong> Onedlho Vám začnú na email chodiť všetky správy zo štátnej schránky.</p>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-default btn-xlg btn-strong' do %>
        <strong>Chcem sa zaregistrovať</strong>
    <% end %>
  </div>
</div>
