<div class="container autoform">
  <h1><strong>GovBox</strong> <span class="label label-danger">ALFA</span></h1>
  <p class="lead">Jednoduchý prístup k štátnej elektronickej schránke.<br>
    <em>Bez elektronického občianskeho preukazu, priamo cez Váš email.</em></p>

  <hr>

  <h2>Vedeli ste, že?</h2>
  <p class="lead"><em>Od 1. júla 2017 právnické osoby</em> zapísané v obchodnom registri
    <em>musia komunikovať</em> so štátom elektronicky.</p>

  <hr>

  <h2>Prečo GovBox?</h2>

  <div class="row">
    <div class="col-md-6">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-3 text-center">
          <i class="fa fa-share fa-5x"></i>
        </div>
        <div class="col-md-9">
          <h3>Preposielanie správ</h3>
          <p class="lead"><em>Všetko čo príde do štátnej schránky Vám prepošleme na email.</em> Nič viac nepotrebujete.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-3 text-center">
          <i class="fa fa-check-square-o fa-5x"></i>
        </div>
        <div class="col-md-9">
          <h3>Jednoduché ovládanie</h3>
          <p class="lead">
            <em>Bez elektronického občianskeho preukazu, bez čítačky.</em> Ak viete používať email, viete používať GovBox.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-3 text-center">
          <i class="fa fa-mobile fa-5x"></i> <i class="fa fa-tablet fa-5x"></i>
        </div>
        <div class="col-md-9">
          <h3>Podpora mobilných zariadení</h3>
          <p class="lead"><em>Na mobile, na tablete.</em> Všade, kde viete otvoriť email.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-3 text-center">
          <i class="fa fa-bell fa-5x"></i>
        </div>
        <div class="col-md-9">
          <h3>Týždenný sumár</h3>
          <p class="lead">
            <em>Na nič nezabudnete.</em> Každý týždeň dostanete krátky sumár toho, čo vo Vašej schránke dialo.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-3 text-center">
          <i class="fa fa-heart fa-5x" style="color: #fa6c8d"></i>
        </div>
        <div class="col-md-9">
          <h3>Dobrá vec</h3>
          <p class="lead">Podporujete aktivity Slovensko.Digital.
            <em>Pomáhate nám zlepšovať digitálne služby štátu.</em></p>
        </div>
      </div>
    </div>
  </div>


  <h3>Cenník</h3>
  <p class="lead">
    <em>Platíte len ak GovBox naozaj používate.</em> Všetky príjmy idú na aktivity občianskeho združenia Slovensko.Digital.
  </p>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">Aktivačný poplatok</th>
      <th class="text-center">Mesačný poplatok</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>
        <h3 style="margin-top: 1em">Základ
          <small style="color: black;">0 až 3 správy mesačne</small>
          <br>
          <small>Ideálne pre väčšinu firiem.</small>
        </h3>
      </th>
      <td class="text-center" style="vertical-align: middle;  font-size: 1.25em;">
        <strong>9&euro;</strong></td>
      <td class="text-center" style="vertical-align: middle;  font-size: 1.25em;">
        <strong>zadarmo</strong></td>

    </tr>
    <tr>
      <th>
        <span class="label label-success"><strong>PRVÝ MESIAC ZADARMO</strong></span><br>
        <h3 style="margin-top: 0.5em;">Štandard
          <small style="color: black;">3 až 20 správ mesačne</small>
          </small><br>
          <small>Pre firmy častejšie komunikujúce so štátom.</small>
        </h3>
      </th>

      <td class="text-center" style="vertical-align: middle;  font-size: 1.25em;">
        <strong>9&euro;</strong></td>
      <td class="text-center" style="vertical-align: middle;  font-size: 1.25em;">
        <strong>8&euro; / mesiac</strong> <br><span class="text-muted">(do 3 správ mesačne neplatíte)</span></td>
    </tr>
    <tr>
      <td>
        <h3 style="margin-top: 1em">Prémium
          <small style="color: black;">neobmedzený počet správ</small>
          <br>
          <small>Pre firmy s množstvom dennej agendy.</small>
        </h3>

        <ul>
          <li>Integrácia na Váš interný systém cez API</li>
          <li>Dedikovaná podpora</li>
        </ul>
      </td>
      <td></td>
      <td colspan="2" class="text-center" style="vertical-align: middle">
        <strong><a class="btn btn-default btn-lg" href="mailto:kontakt@slovensko.digital">Kontaktujte nás</a></strong>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>


  <h2>Ako získam GovBox?</h2>
  <p class="lead"><em>Jednoduchá registrácia</em> a jedna návšteva notára.
    <em>Všetky potrebné dokumenty vyplníme za Vás.</em></p>

  <div class="row">
    <div class="col-md-4 text-center">
      <h3 class="text-huge">1.</h3>
      <p class="lead">Zaregistrujete sa a&nbsp;zaslané dokumenty si vytlačíte.</p>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-huge">2.</h3>
      <p class="lead">Dokumenty podpíšete u notára a&nbsp;zašlete nám ich poštou.</p>
    </div>
    <div class="col-md-4 text-center">
      <h3 class="text-huge">3.</h3>
      <p class="lead"><strong>Hotovo!</strong> Onedlho Vám začnú na email chodiť všetky správy zo štátnej schránky.
      </p>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to register_step1_services_govbox_index_path, class: 'btn btn-default btn-xlg btn-strong' do %>
        <strong>Chcem sa zaregistrovať</strong>
    <% end %>
  </div>
</div>
