<div class="container">
  <div class="row legal pricing">
    <div class="col-lg-8">
      <h1>Cenník GovBox</h1>
      <p class="mb-5"><small>Platný od 1.6.2020</small></p>

      <div class="alert alert-warning">
        <strong>Upozornenie: </strong> Táto verzia cenníka je stará a bola nahradená <%= link_to 'novým cenníkom', pricing_services_govbox_index_path %>.
      </div>

      <p>Poplatok za poskytnutie služby GovBox (odmena) sa stanovuje na základe počtu elektronických správ (definovaných v <%= link_to 'Podmienkach používania služby GovBox', terms_services_govbox_index_path %>), ktoré budú Používateľovi doručené do elektronickej schránky a preposlané na emailovú adresu Používateľa za podmienok uvedených v Zmluve a v Podmienkach používania služby GovBox, pričom:</p>
      <ul>
        <li>
          prvý mesiac nasledujúci po mesiaci v ktorom Zmluva nadobudla účinnosť je služba GovBox poskytovaná bezplatne; a v nasledujúcich mesiacoch je služba účtovaná na základe kategórie, do ktorej spadá, a to podľa počtu preposlaných elektronických správ nasledovne:
          <ol type="A">
            <li><span>v prípade ak v kalendárnom mesiaci nebude doručená a preposlaná žiadna elektronická správa, tak je služba za tento mesiac poskytovaná bezodplatne,</span></li>
            <li><span>pri počte elektronických správ od 1 do 20 preposlaných elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 8,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 21 do 50 preposlaných elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 16,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 51 do 100 preposlaných elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 32,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 101 do 500 preposlaných elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 64,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ vyššom ako 500 preposlaných elektronických správ za kalendárny mesiac je odmena Poskytovateľa predmetom samostatnej dohody medzi Poskytovateľom a Používateľom a do času uzatvorenia dohody sa použije výpočet uvedený v Zmluve.</span></li>
          </ol>
        </li>
        <li>
          aktivačný poplatok je 9,00 EUR*,
        </li>
        <li>
          ak je Používateľ zároveň členom občianskeho združenia Slovensko.Digital, IČO: 50158635, tak po dobu trvania členstva Používateľa v občianskom združení bude odmena za poskytnutie služby GovBox účtovaná podľa kategórie členstva v tomto združení nasledovne:
          <ol type="A" start="7">
            <li><span>člen kategórie “Malá firma” - prvých 20 preposlaných elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “Stredná firma” - prvých 100 preposlaných elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “Liga výnimočných” - prvých 500 preposlaných elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “TOP člen” - neobmedzený počet preposlaných elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>každá ďalšia správa po prekročení počtov preposlaných elektronických správ uvedených v bodoch G-J vyššie bude účtovaná spôsobom uvedeným v bodoch A-F tohto Cenníka.</span></li>
          </ol>
        </li>
      </ul>
      <p>
        <em>
          *zľava z aktivačného poplatku vo výške 100% platná v období od 1.6.2020 do 30.9.2020
        </em>
      </p>

      <h1 class="mt-5">Cenník GovBox API</h1>
      <p class="mb-5"><small>Platný od 28.9.2019</small></p>

      <p>Poplatok za poskytnutie služby GovBox API (odmena) sa stanovuje na základe počtu Používateľom stiahnutých elektronických správ (definovaných v <%= link_to 'Podmienkach používania služby GovBox API', terms_api_services_govbox_index_path %>) za podmienok uvedených v Zmluve a v Podmienkach používania služby GovBox API, pričom:</p>
      <ul>
        <li>prvý mesiac nasledujúci po mesiaci v ktorom Zmluva nadobudla účinnosť je služba GovBox API poskytovaná bezplatne; a v nasledujúcich mesiacoch je služba účtovaná na základe kategórie, do ktorej spadá, a to podľa počtu stiahnutých elektronických správ nasledovne:
          <ol type="A">
            <li><span>v prípade ak v kalendárnom mesiaci nebude stiahnutá žiadna elektronická správa, tak je služba za tento mesiac poskytovaná bezodplatne,</span></li>
            <li><span>pri počte elektronických správ od 1 do 20 stiahnutých elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 8,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 21 do 50 stiahnutých elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 16,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 51 do 100 stiahnutých elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 32,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ od 101 do 500 stiahnutých elektronických správ za kalendárny mesiac predstavuje odmena Poskytovateľa 64,00 EUR / mesačne,</span></li>
            <li><span>pri počte elektronických správ vyššom ako 500 stiahnutých elektronických správ za kalendárny mesiac je odmena Poskytovateľa predmetom samostatnej dohody medzi Poskytovateľom a Používateľom a do času uzatvorenia dohody sa použije výpočet uvedený v Zmluve.</span></li>
          </ol>
        </li>
        <li>
          integračný poplatok je predmetom dohody Používateľa a Poskytovateľa a jeho výška je uvedená v Zmluve,
        </li>
        <li>
          ak je Používateľ zároveň členom občianskeho združenia Slovensko.Digital, IČO: 50158635, tak po dobu trvania členstva Používateľa v občianskom združení bude odmena za poskytnutie služby GovBox účtovaná podľa kategórie členstva v tomto združení nasledovne:
          <ol type="A" start="7">
            <li><span>člen kategórie “malá firma” - prvých 20 stiahnutých elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “stredná firma” - prvých 100 stiahnutých elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “Liga výnimočných” - prvých 500 stiahnutých elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>člen kategórie “TOP člen” - neobmedzený počet stiahnutých elektronických správ za kalendárny mesiac bude poskytnutých bezodplatne,</span></li>
            <li><span>každá ďalšia správa po prekročení počtov stiahnutých elektronických správ uvedených v bodoch G-J vyššie  bude účtovaná spôsobom uvedeným v bodoch A-F tohto Cenníka.</span></li>
          </ol>
        </li>
      </ul>
      <p>
        <em>
          Tento cenník služby GovBox alebo GovBox API predstavuje neoddeliteľnú súčasť zmluvy medzi Služby Slovensko.Digital s.r.o. a Používateľom týkajúceho sa využívania služby GovBox alebo GovBox API. Všetky sumy sú uvádzané bez DPH, ktorá bude účtovaná Používateľovi v súlade s aktuálne platnými právnymi predpismi.
        </em>
      </p>
    </div>

    <div class="col-lg-3 offset-lg-1">
      <%= render 'old_pricing_versions_list' %>
    </div>
  </div>
</div>
