<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="form-title mb-5">Zásady ochrany osobných údajov</h1>

      <p>Pripravili sme tieto Zásady ochrany osobných údajov (ďalej len „Zásady“), ktoré Vám pomôžu objasniť, aké druhy údajov v súvislosti s poskytovaním služby GovBox zhromažďujeme a ako takéto informácie spracúvame. Zaväzujeme sa zachovávať dôvernosť a chrániť vaše osobné údaje a akékoľvek informácie, s ktorými by sme sa mohli oboznámiť pri poskytovaní našich služieb. Pri tom sa riadime požiadavkami zákona č.122/2013 Z. z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov (ďalej iba "ZOOÚ") a ďalšími právnymi predpismi Slovenskej republiky.</p>

      <p><%= link_to 'Prevádzkovateľom služby GovBox', service_provider_services_govbox_index_path %> je spoločnosť Služby Slovensko.Digital, s.r.o.</p>

      <p><strong>Účel spracúvania osobných údajov</strong></p>
      <p>Účelom poskytovania služby GovBox je rozšírenie funkčnosti ústredného portálu verejnej správy (slovensko.sk) o nové služby pre používateľov, najmä prístup k správam doručovaným do elektronickej schránky používateľa.</p>

      <p><strong>Právny základ spracúvania osobných údajov</strong></p>
      <p>V súlade s § 10 ods. 3 písm. b) ZOOÚ, spracúvanie osobných údajov je nevyhnutné na plnenie zmluvy, v&nbsp;ktorej vystupuje dotknutá osoba ako jedna zo zmluvných strán, alebo v predzmluvných vzťahoch s&nbsp;dotknutou osobou.</p>
      <p>Predzmluvný vzťah začína vykonaním registrácie k službe GovBox na našej webovej stránke. Pred potvrdením registrácie je používateľ informovaný o Zásadách ochrany osobných údajov. Potvrdením registrácie s nimi používateľ dobrovoľne vyjadruje súhlas.</p>

      <p><strong>Okruh dotknutých osôb</strong></p>
      <p>Dotknutými osobami pri poskytovaní služby GovBox sú štatutári právnických osôb a živnostníci (ako fyzické osoby).</p>

      <p><strong>Zoznam/rozsah osobných údajov</strong></p>
      <p>Pri poskytovaní služby GovBox spracúvame:</p>
      <ul>
        <li>Identifikačné údaje štatutárov právnických osôb a živnostníkov ako FO potrebné pre notársky osvedčené splnomocnenie: meno, priezvisko, tituly, adresa trvalého bydliska, rodné číslo, dátum narodenia,</li>
        <li>Osobné údaje nachádzajúce sa v správach doručovaných do elektronickej schránky používateľa – tieto údaje nie sú systematicky spracúvané</li>
      </ul>

      <p><strong>Sprostredkovatelia a prenos osobných údajov</strong></p>
      <p>Pri poskytovaní služby GovBox využívame služby nasledovných zmluvných sprostredkovateľov podľa § 8 ZOOÚ:</p>
      <ul>
        <li>Občianske združenie Slovensko.Digital, Staré Grunty 18, 841 04 Bratislava, ktorá sa podieľa na zabezpečení registrácie používateľov služby GovBox,</li>
        <li>Websupport, s.r.o., Staré Grunty 202/12, 841 04 Bratislava, ktorá v súlade s Metodickým usmernením Úradu na ochranu OÚ (ďalej ÚOOÚ) č. 1/2016, je poskytovateľom cloudovej služby a nevykonáva žiadne iné špecifické spracúvanie vašich osobných údajov,</li>
        <li>Amazon Web Services, Inc., 1200 12th Avenue South, Suite 1200, Seattle, WA 98144, USA, ktorá v súlade s Metodickým usmernením ÚOOÚ č.1/2016, je poskytovateľom cloudovej služby, ktorý nevykonáva žiadne špecifické spracúvanie osobných údajov, je certifikovaná v zmysle požiadaviek dohody o prenose osobných údajov medzi EÚ a USA <%= link_to '„Privacy Shield“', 'https://aws.amazon.com/compliance/eu-us-privacy-shield-faq' %> a <%= link_to 'ochrany súkromia', 'https://aws.amazon.com/privacy/' %></li>
      </ul>

      <p>V súvislosti s prevádzkou služby GovBox nie je vykonávaný prenos osobných údajov mimo štáty Európskej únie.</p>
      <p>Okrem vyššie uvedeného nesprístupňujeme, neposkytujeme a nezverejňujeme spracúvané osobné údaje v službe GovBox, s výnimkou zákonom stanovenej povinnosti poskytnutia osobných údajov na účel vyšetrovania alebo konania, vedeného na to oprávnenými orgánmi štátnej moci.</p>
      <p>Ak bude spracúvaním osobných údajov poverený ďalší sprostredkovateľ, dotknuté osoby od ktorých už boli získané osobné údaje budú o tejto skutočnosti informované v súlade s §8 ods.6 ZOOÚ.</p>

      <p><strong>Bezpečnostné opatrenia</strong></p>
      <p>Spoločnosť Služby Slovensko.Digital, s.r.o. má zavedené príslušné technické a organizačné opatrenia v oblasti informačnej bezpečnosti na zabránenie neoprávnenému alebo nezákonnému spracúvaniu alebo inému poškodeniu vašich osobných údajov. Osobné údaje sú spracúvané jedine riadne poučenými oprávnenými osobami, osobné údaje obsiahnuté v správach doručovaných do elektronickej schránky používateľa sú spracúvané výlučne automatizovaným spôsobom (bez prístupu fyzických osôb), s výnimkou riešenia neštandardných prevádzkových situácií.</p>
      <p>Nad spracúvaním osobných údajov vykonávame pravidelný dohľad prostredníctvom poverenej zodpovednej osoby.</p>

      <p><strong>Poučenie o právach dotknutej osoby</strong></p>
      <p>Práva dotknutej osoby pri spracúvaní osobných údajov sú upravené v § 28 zákona o ochrane osobných údajov.</p>

      <p>Dotknutá osoba má právo na základe písomnej žiadosti od prevádzkovateľa vyžadovať:</p>
      <ul class="list-unstyled">
      <li>a) potvrdenie, či sú alebo nie sú osobné údaje o nej spracúvané,</li>
      <li>b) vo všeobecne zrozumiteľnej forme informácie o spracúvaní osobných údajov v informačnom systéme v rozsahu podľa § 15 ods. 1 písm. a) až e) druhý až šiesty bod; pri vydaní rozhodnutia podľa odseku 5 je dotknutá osoba oprávnená oboznámiť sa s postupom spracúvania a vyhodnocovania operácií,</li>
      <li>c) vo všeobecne zrozumiteľnej forme presné informácie o zdroji, z ktorého získal jej osobné údaje na spracúvanie,</li>
      <li>d) vo všeobecne zrozumiteľnej forme zoznam jej osobných údajov, ktoré sú predmetom spracúvania,</li>
      <li>e) opravu alebo likvidáciu svojich nesprávnych, neúplných alebo neaktuálnych osobných údajov, ktoré sú predmetom spracúvania,</li>
      <li>f) likvidáciu jej osobných údajov, ktorých účel spracúvania sa skončil; ak sú predmetom spracúvania úradné doklady obsahujúce osobné údaje, môže požiadať o ich vrátenie,</li>
      <li>g) likvidáciu jej osobných údajov, ktoré sú predmetom spracúvania, ak došlo k porušeniu zákona,</li>
      <li>h) blokovanie jej osobných údajov z dôvodu odvolania súhlasu pred uplynutím času jeho platnosti, ak prevádzkovateľ spracúva osobné údaje na základe súhlasu dotknutej osoby.</li>
      </ul>
      <p>Žiadosť podľa bodu h) je posudzovaná iba v rozsahu spracovania osobných údajov pri registrácii na použitie služby, pokiaľ nedošlo k uzatvoreniu zmluvy na použitie služby.</p>

      <p>V prípade, ak máte otázky alebo konkrétnu požiadavku ohľadom spracúvania osobných údajov, kontaktovať nás môžete písomne na <%= mail_to 'podpora@govbox.slovensko.digital' %>.</p>

    </div>
  </div>
</div>