<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="form-title">Registrácia úspešná!</h1>
      <p class="lead form-subtitle">Ďakujeme za registráciu, budeme Vás kontaktovať emailom s ďalšími inštrukciami. Medzičasom si môžete pozrieť <%= link_to 'naše ostatné služby', 'https://ekosystem.slovensko.digital/' %>.</p>
    </div>
  </div>
</div>