<div class="container">
  <%= form_tag register_step6_services_govbox_index_path do %>
    <%= render 'hidden_fields_from_step5' %>

    <div class="row">
      <div class="col-lg-8">
        <h1 class="form-title">Registrácia k službe GovBox</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="alert alert-danger form-dialog" role="alert">
          <strong>Ľutujeme, ale momentálne nie je možné dokončiť registráciu.</strong><br/>
          <% if errors.present? %>
            <ul class="mt-3">
              <% errors.keys.each do |field_name| %>
                <% errors[field_name].each do |field_error|  %>
                  <li><%= "#{field_name.humanize} #{field_error}" %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          Naši programátori boli na túto chybu automaticky upozornení a pravdepodobne už pracujú na náprave. Skúste dokončiť registráciu neskôr.
        </div>
      </div>
    </div>

    <div class="form-navigation">
      <%= button_tag class: 'btn btn-primary btn-lg' do %>
        <strong>Skúsiť dokončiť registráciu znova</strong>
      <% end %>
    </div>
  <% end %>
</div>
