<div class="container autoform">
  <h1>Registrácia úspešná!</h1>
  <p class="lead">Ďakujeme za registráciu, budeme Vás kontaktovať emailom s ďalšími inštrukciami. Medzičasom si môžete pozrieť <%= link_to 'naše ostatné služby', 'https://ekosystem.slovensko.digital/' %>.</p>
</div>