<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="form-title mb-5">Prevádzkovateľ služby GovBox</h1>

      <address>
        <strong>Služby Slovensko.Digital, s.r.o.</strong><br>
        Sídlo: Staré Grunty 18, 841 04 Bratislava<br>
        IČO: 50 881 337<br>
        DIČ: 2120515056<br>
        zapísaná v Obchodnom registri Okresného súdu Bratislava I, v Odd. Sro, vl.č. 119763/B<br>

        e-mail: <%= mail_to 'podpora@slovensko.digital' %><br>
        Telefónne číslo: +421 910 160 880
      </address>
      <p class="mb-0"><strong>Orgán dozoru v zmysle zákona o elektronických komunikáciách:</strong></p>
      <address>
        Inšpektorát SOI pre Bratislavský kraj<br>
        Prievozská 32, P. O. BOX 5, 820 07 Bratislava 27<br>
        Odbor výkonu dozoru<br>
        tel. č. 02/58272 172, 02/58272 104<br>
        fax č. 02/58272 170<br>
      </address>

      <p class="mb-0"><strong>Orgán dozoru v zmysle zákona o ochrane osobných údajov:</strong></p>
      <address>
        Úrad na ochranu osobných údajov SR<br>
        Hraničná 12, 820 07  Bratislava 27<br>
        tel. č.: +421/2/3231 3220<br>
        e-mail: <%= mail_to 'statny.dozor@pdp.gov.sk' %>
      </address>
    </div>
  </div>
</div>