<div class="container">
  <div class="row legal">
    <div class="col-lg-8">
      <h1>Všeobecné obchodné podmienky používania služby GovBox API</h1>
      <p><small>Platné od 17.10.2019</small></p>
      <div class="alert alert-info">
        <strong>Tip:</strong> Všeobecné obchodné podmienky pre službu <strong>GovBox</strong> <%= link_to 'nájdete tu', terms_services_govbox_index_path %>.
      </div>
      <ol class="mt-5">
        <li><strong>Predmet úpravy</strong>
          <ol>
            <li>Služby Slovensko.Digital, s.r.o. prevádzkuje službu GovBox API, ktorá umožňuje manipuláciu s  elektronickou schránkou prostredníctvom programového rozhrania (API) najmä  prístup do elektronickej schránky Používateľa, sťahovanie elektronických správ a elektronických dokumentov do vlastného rozhrania Používateľa, potvrdzovanie doručeniek Používateľom ako aj ďalšie funkcionality uvedené v technickej dokumentácii služby GovBox API.</li>
            <li>Tieto obchodné podmienky vydané podľa § 273 zákona č. 513/1991 Z.z. Obchodný zákonník v platnom znení upravujú časť obsahu zmluvného vzťahu, na základe ktorého Služby Slovensko.Digital, s.r.o. umožňuje Používateľovi využívanie služby GovBox API a Používateľ sa zaväzuje zaplatiť spoločnosti Služby Slovensko.Digital, s.r.o. odmenu vo výške a za podmienok dohodnutých v týchto obchodných podmienkach a v Zmluve, ako aj plniť ostatné záväzky vyplývajúce z týchto obchodných podmienok a zo Zmluvy uzatvorenej medzi Služby Slovensko.Digital, s.r.o. a Používateľom.</li>
          </ol>
        </li>
        <li><strong>Definície pojmov</strong>
            <ol>
              <li><strong>„GovBox API“</strong> – služba, ktorá umožňuje manipuláciu s elektronickou schránkou najmä prístup do elektronickej schránky, sťahovanie elektronických správ a elektronických dokumentov z elektronickej schránky Používateľa do vlastného rozhrania Používateľa, potvrdzovanie doručeniek ako aj iné funkcionality uvedené v aktuálnej technickej dokumentácii služby GovBox API (ďalej len „manipulácia s elektronickou schránkou“), a to prostredníctvom programového rozhrania (API) bez nutnosti prihlásenia sa na oficiálny portál elektronických schránok prostredníctvom autentifikátora v zmysle zákona o e-Governmente (ďalej len „GovBox API“ alebo „Služba“) Za vlastné rozhranie Používateľa sa považuje okrem iného aj akékoľvek rozhranie ktorého je Používateľ oprávneným užívateľom.</li>
              <li>Poskytovateľom GovBox API je spoločnosť Služby Slovensko.Digital, s.r.o., ktorá službu poskytuje prostredníctvom integrácie programového rozhrania API do rozhrania Ústredného portálu verejnej správy ako Správcu modulu elektronických schránok (ďalej aj „služba“ alebo „služba GovBox API“);</li>
              <li><strong>„Zákon o e-Governmente“</strong> – zákon č. 305/2013 Z.z. o elektronickej podobe výkonu pôsobnosti orgánov verejnej moci v aktuálnom znení;</li>
              <li><strong>„Obchodný zákonník“</strong> – zákon č. 513/1991 Z.z., Obchodný zákonník v aktuálnom znení;</li>
              <li><strong>„elektronická schránka“</strong> – elektronická schránka v zmysle zákona o e-Governmente, ktorej majiteľom je v zmysle zákona o e-Governmente Používateľ. Funkcionalitu elektronickej schránky upravuje manuál vydaný Správcom modulu elektronických schránok, ktorý je zverejnený na www.slovensko.sk a Používateľ je povinný sa s ním oboznámiť a priebežne sa oboznamovať aj s jeho zmenami. Link na manuál je nasledovný: <a href="https://www.slovensko.sk/_img/CMS4/Navody/ES_pouzivatelska_prirucka.pdf">https://www.slovensko.sk/_img/CMS4/Navody/ES_pouzivatelska_prirucka.pdf</a>;</li>
              <li><strong>„Služby Slovensko.Digital s.r.o.“</strong> alebo aj <strong>„Poskytovateľ“</strong> – spoločnosť zapísaná v obchodnom registri Okresného súdu Bratislava I, oddiel Sro, vložka: 119763/B, so sídlom Staré Grunty 18, 841 04 Bratislava, IČO: 50 881 337;</li>
              <li><strong>„Používateľ“</strong> – podnikateľ a to právnická osoba alebo fyzická osoba - podnikateľ, ktorá na základe plnomocenstva a/alebo iného dokumentu splnomocní Poskytovateľa na manipulovanie s elektronickou schránkou, ktorej majiteľom podľa zákona o e-Governmente je Používateľ, ako aj na ďalšie úkony vyplývajúce z plnomocenstva, a zároveň ktorá uzatvorí s Poskytovateľom Zmluvu o poskytovaní služby GovBox API, a zároveň ktorá je povinná zaplatiť Poskytovateľovi odmenu za poskytovanie služby vo výške vyplývajúcej z aktuálneho Cenníka. Používateľ berie na vedomie, že v zmluvnom vzťahu s NASES je označený aj ako Koncový Konzument. Používateľ berie na vedomie, že podľa zmluvného vzťahu medzi NASES a Poskytovateľom ako aj vzťahu medzi NASES a Používateľom, pristupuje do elektronickej schránky Používateľ, a to buď sám alebo sprostredkovane cez Poskytovateľa.</li>
              <li><strong>„Záujemca“</strong> – právnická osoba alebo fyzická osoba - podnikateľ, ktorá chce využívať službu GovBox API;</li>
              <li><strong>„Poplatok za využívanie služby“</strong> – odmena Poskytovateľa za poskytovanie služby vo výške určenej aktuálnym Cenníkom;</li>
              <li><strong>„Integračný  poplatok“</strong> – poplatok za zriadenie služby GovBox API, jeho výška je predmetom dohody medzi Poskytovateľom a Záujemcom alebo Používateľom;</li>
              <li><strong>„Štatutár“:</strong></li>
              <ol>
                <li>v prípade ak je Používateľ alebo Záujemca právnická osoba je Štatutárom fyzická osoba, ktorá je štatutárnym orgánom alebo členom štatutárneho orgánu Používateľa alebo Záujemcu;</li>
                <li>v prípade ak je Používateľ alebo Záujemca fyzická osoba – podnikateľ, je pre účely týchto Podmienok Štatutárom táto fyzická osoba;</li>
              </ol>
              <li><strong>„Podmienky“</strong> sú tieto všeobecné obchodné podmienky nazvané ako Všeobecné obchodné podmienky používania služby GovBox API, v ich aktuálnom znení;</li>
              <li><strong>„Splnomocnenie“</strong> alebo <strong>„Plnomocenstvo“</strong> – splnomocnenie na určenom formulári, ktorým Používateľ splnomocní Poskytovateľa na pristupovanie a manipulovanie s elektronickou schránkou, prípadne na iné úkony, a to všetko v rozsahu v tomto Splnomocnení uvedenom;</li>
              <li><strong>„Zmluva“</strong> – Zmluva o poskytovaní služby GovBox API uzatvorená medzi Používateľom a Poskytovateľom, ktorou sa zakladá vzťah medzi Používateľom a Poskytovateľom, a ktorá upravuje práva a povinnosti Používateľa a Poskytovateľa;</li>
              <li><strong>„Správca modulu elektronických schránok“</strong>  – v zmysle zákona o e-Governmente je správcom modulu elektronických schránok Úrad vlády Slovenskej republiky. Za Správcu modulu elektronických schránok sa považuje aj prevádzkovateľ Ústredného portálu verejnej správy, ktorým je Národná agentúra pre sieťové a elektronické služby (ďalej len „NASES“), príspevková organizácia Úradu vlády Slovenskej republiky so sídlom na Kollárovej 8, 917 002 Trnava, IČO: 42 156 424.;</li>
              <li><strong>„elektronická správa“</strong> – elektronická správa v zmysle zákona o e-Governmente a elektronický dokument v zmysle zákona o e-Governmente, ktoré nie sú doručované do vlastných rúk podľa  zákona o e-Governmente;</li>
              <li><strong>„elektronická správa do vlastných rúk“</strong> – elektronická správa v zmysle zákona o e-Governmente a elektronický dokument v zmysle zákona o e-Governmente, ktoré sú doručované do vlastných rúk podľa zákona o e-Governmente</li>
              <li><strong>„Webová adresa služby“</strong> – webová stránka https://ekosystem.slovensko.digital/sluzby/govbox</li>
              <li><strong>„Request“</strong> – žiadosť zaslaná do služby GovBox API za účelom vyvolania príslušnej funkcionality služby GovBox API podľa Technickej dokumentácie;</li>
              <li><strong>„Digitálny podpis“</strong> – pár súkromného a verejného kľúča slúžiaci na overenie identity Používateľa. Súkromný kľúč slúži na podpísanie requestu Používateľa, jeho pár v podobe verejného kľúča na overenie identity Používateľa. Podrobnosti digitálneho podpisu budú predmetom vzájomnej dohody Poskytovateľa a Používateľa uvedenej v Zmluve</li>
              <li><strong>„Osvedčený podpis“</strong> – za osvedčený podpis sa považuje (i) osvedčenie pravosti podpisu notárom, obcou a/alebo zastupiteľským úradom Slovenskej republiky v zahraničí v zmysle platných právnych predpisov Slovenskej republiky, (ii) kvalifikovaný elektronický  podpis a (iii) Digitálny podpis.</li>
          </ol>
        </li>
        <li><strong>Objednanie služby</strong>
          <ol>
            <li>Službu GovBox API objednáva v mene Záujemcu jeho Štatutár, a to vyplnením formuláru na webovej adrese služby, prípadne iným spôsobom umožneným Poskytovateľom (ďalej len „Objednávka“). Za účelom objednania služby je Štatutár povinný poskytnúť Poskytovateľovi najmä nasledujúce údaje:
              <ol type="a">
                <li>Názov/Obchodné meno Používateľa</li>
                <li>Sídlo/Miesto podnikania Používateľa</li>
                <li>Korešpondenčná adresa, ak sa líši od adresy sídla/miesta podnikania Používateľa</li>
                <li>IČO Používateľa</li>
                <li>Meno a priezvisko Štatutára</li>
                <li>Rodné číslo Štatutára</li>
                <li>Dátum narodenia Štatutára</li>
                <li>Emailová adresa Používateľa pre potreby komunikácie v prípadoch určených týmito Podmienkami.</li>
                <li>Heslo slúžiace na overenie totožnosti Používateľa</li>
                <li>Mobilné telefónne číslo Používateľa pre potreby komunikácie v prípadoch určených týmito Podmienkami.</li>
                <li>Verejný kľúč Používateľa.</li>
                <li>Zoznam povolených IP adries.</li>
              </ol>
            <li>Údaje Štatutára podľa písmen e, f a g sa uvedú v rozsahu počtu osôb v akom Štatutári konajú za Záujemcu (napr. ak za právnickú osobu konajú vždy dvaja Štatutári spoločne, uvedú sa údaje oboch týchto Štatutárov).</li>
            <li>Záujemca nie je povinný uviesť osobné údaje Štatutára/Štatutárov pri objednaní Služby, avšak v takom prípade je ich povinný následne uviesť v Zmluve.</li>
            <li>Potvrdením a odoslaním Objednávky a/alebo podpisom Zmluvy vyjadruje Záujemca svoj súhlas s týmito Podmienkami a Štatutár berie na vedomie, že jeho osobné údaje, ktoré boli Poskytovateľovi poskytnuté v rámci Objednávky a/alebo v Plnomocenstve, bude Poskytovateľ spracúvať na právnom základe plnenia zmluvných a predzmluvných vzťahov a budú poskytnuté tretím stranám, a to Správcovi modulu elektronických schránok podľa bodu 2.15. týchto Podmienok.</li>
            <li>Na základe obdržanej Objednávky, po overení údajov a zároveň za predpokladu, že údaje sú totožné s aktuálnym zápisom v Registri právnických osôb/Obchodnom registri, zašle Poskytovateľ Záujemcovi na emailovú adresu Záujemcom označenú v Objednávke Splnomocnenie, Zmluvu a prípadne iné dokumenty vyžadované Správcom modulu elektronických schránok. Zmluva bude podpísaná Poskytovateľom. Zaslanie Splnomocnenia a Zmluvy sa považuje za návrh na uzavretie zmluvy.</li>
            <li>Záujemca následne doručí Poskytovateľovi jeden originál Zmluvy podpísaný Štatutárom/Štatutármi a minimálne jeden originál Splnomocnenia podpísaný Štatutárom/Štatutármi s ich úradne osvedčeným podpisom/podpismi, prípadne aj iné dokumenty vyžadované Správcom modulu elektronických schránok. Záujemca nie je oprávnený Zmluvu a/alebo Splnomocnenie akýmkoľvek spôsobom meniť alebo do nich zasahovať, pokiaľ sa osobitne s Poskytovateľom nedohodne inak.</li>
            <li>V prípade, ak Záujemca nedoručí riadne Poskytovateľovi všetky dokumenty uvedené v predchádzajúcom bode 3.5. a 3.6., t.j. nedoručí požadovaný počet originálov, alebo na doručenom dokumente/dokumentoch bude chýbať podpis Štatutára, alebo podpis Štatutára nebude úradne osvedčený, alebo dokumenty budú obsahovať chyby alebo bude text dokumentov, daný Poskytovateľom, pozmenený, prípadne budú dokumenty obsahovať iné nedostatky podľa uváženia Poskytovateľa, Poskytovateľ upozorní Záujemcu na nedostatky, a to zaslaním emailu obsahujúceho špecifikáciu nedostatkov na Záujemcom oznámenú emailovú adresu. Za účelom uzatvorenia Zmluvy je nevyhnutné, aby Záujemca odstránil všetky nedostatky na dokumentoch a úplné a bezchybné ich späť doručil Poskytovateľovi.</li>
            <li>V prípade úradného osvedčovania podpisu Štatutára mimo územia Slovenskej republiky musí byť Splnomocnenie doplnené o apostilu alebo superlegalizáciu, s výnimkou úradného osvedčenia podpisu k tomu oprávneným subjektom v Českej republike alebo úradného osvedčenia podpisu Zastupiteľským úradom Slovenskej republiky v zahraničí. Apostila alebo doložka o superlegalizácii musia byť úradne preložené do slovenského jazyka.</li>
            <li>O prijatí Zmluvy a Splnomocnenia informuje Poskytovateľ Záujemcu zaslaním emailu na emailovú adresu oznámenú v Objednávke. Doručením Zmluvy Poskytovateľovi, ktorá je podpísaná oprávnenou osobou Záujemcu a spĺňa požiadavky uvedené v tomto článku, dochádza k uzatvoreniu Zmluvy medzi Používateľom a Poskytovateľom avšak účinnosť nadobudne za podmienok uvedených v Zmluve a týchto Podmienkach.</li>
            <li>Poskytovateľ je povinný doručiť Splnomocnenie Správcovi modulu elektronických schránok alebo Prevádzkovateľovi Ústredného portálu verejnej správy. Po zriadení prístupu Poskytovateľovi Správcom resp. Prevádzkovateľom modulu elektronických schránok do elektronickej schránky Používateľa, je Poskytovateľ o tomto povinný informovať Používateľa prostredníctvom emailu zaslaného na emailovú adresu Používateľa oznámenú v Objednávke (ďalej len „emailová adresa Používateľa“). Doručením emailu podľa predchádzajúcej vety nadobúda Zmluva účinnosť a Poskytovateľ začne poskytovať služby podľa Zmluvy.</li>
            <li>V prípade, ak Správca modulu elektronických schránok alebo Prevádzkovateľ Ústredného portálu verejnej správy z akéhokoľvek dôvodu nezriadi Poskytovateľovi prístup do elektronickej schránky Používateľa, a to ani v lehote 30 dní odo dňa zadania požiadavky na zriadenie prístupu, je Poskytovateľ oprávnený s okamžitou platnosťou Zmluvu vypovedať. V takomto prípade je výpoveď účinná jej doručením Záujemcovi. Používateľ nemá nárok na vrátenie Integračného poplatku a je povinný tento v plnej výške uhradiť aj v prípade, ak príde k ukončeniu zmluvy v zmysle tohto bodu.</li>
          </ol></li>
        <li><strong>Práva a povinnosti Používateľa</strong>
          <ol>
            <li>Používateľ je samostatne zodpovedný za integráciu služby GovBox API do svojho vlastného rozhrania. Poskytovateľ v prípade potreby v primeranej lehote poskytne Používateľovi aktuálnu technickú dokumentáciu služby GovBox API (ďalej len „Technická dokumentácia“) potrebnú pre vykonanie integrácie do vlastného rozhrania Používateľa pripadne jeho aktualizáciu.</li>
            <li>Technická dokumentácia upravuje aj funkcionality a typy requestov GovBox API, ktoré môže Používateľ zasielať do služby GovBox API.</li>
            <li>Používateľ berie na vedomie, že Poskytovateľ môže Technickú dokumentáciu aktualizovať, a to najmä za účelom aktualizácie zo strany Správcu modulu elektronických schránok prípadne za účelom rozšírenia/úpravy funkcionalít GovBox API. Poskytovateľ bude informovať v primeranej lehote Používateľa o aktualizácii Technickej dokumentácie prostredníctvom zaslania správy na emailovú adresu Používateľa.</li>
            <li>Používateľ je oprávnený zasielať do služby GovBox API len requesty opatrené Digitálnym podpisom. Za týmto účelom je Používateľ povinný každý request podpísať svojim súkromným kľúčom.</li>
            <li>Za účelom overenia identity Používateľa pri zasielaní requestov do služby GovBox API je Používateľ povinný sprístupniť Poskytovateľovi svoj verejný kľúč.</li>
            <li>Používateľ je oprávnený zasielať requesty do služby GovBox API len z IP adries uvedených v Objednávke alebo inak oznámených Poskytovateľovi.</li>
            <li>Používateľ (i) nie je oprávnený využívať službu GovBox API častejšie ako raz za dve hodiny, t.j. zasielať requesty slúžiace na sťahovanie nových správ podľa Technickej dokumentácie, (ii) nie je oprávnený zasielať requesty a súčasne pristupovať do elektronickej schránky akýmkoľvek iným spôsobom (iii) nie je oprávnený využívať Službu v zjavnom rozpore s jej určením (iv) a je povinný dodržiavať akékoľvek ďalšie pravidlá používania služby oznámené Poskytovateľom na webovom sídle Služby (ďalej len „Fair use policy“).</li>
            <li>Používateľ berie na vedomie, že Poskytovateľ si uchováva jedinečné identifikátory všetkých stiahnutých elektronických správ, a to najmä za účelom účtovania poplatkov za využívanie Služby. Obsah elektronických správ Používateľ neuchováva.</li>
            <li>V prípade, ak Používateľ nevyužíva službu v súlade s princípmi Fair use policy stanovenými Poskytovateľom, je Poskytovateľ oprávnený podľa vlastného uváženia prerušiť poskytovanie služieb a/alebo okamžite odstúpiť od Zmluvy.</li>
            <li>Používateľ je oprávnený zmeniť svoju kontaktnú emailovú adresu prostredníctvom na to určenej funkcie webového sídla Poskytovateľa po zadaní hesla, ktoré Používateľ oznámil Poskytovateľovi vo Formulári podľa bodu 3.1 týchto Podmienok. Obdobný postup sa použije pre zmenu mobilného telefónneho čísla Používateľa.</li>
            <li>Používateľ je povinný bez zbytočného odkladu informovať Poskytovateľa o každej zmene údajov uvedených vo Formulári, najmä o zmene v osobe Štatutára; zmenách v oprávnení konať za Poskytovateľa; zmene názvu, sídla a právnej formy Používateľa; a tiež o vstupe do likvidácie, podaní návrhu na vyhlásenie konkurzu, resp. reštrukturalizácie alebo skutočnosti, že bol na majetok Používateľa vyhlásený konkurz, alebo bola povolená reštrukturalizácia. V prípade, že Používateľ zmeny podľa predchádzajúcej vety bez zbytočného odkladu od ich vzniku neohlási Poskytovateľovi, Poskytovateľ nenesie zodpovednosť za akékoľvek škody, či už priame alebo nepriame, ktoré vznikli ako dôsledok úkonu Poskytovateľa, pri vykonaní ktorého sa Poskytovateľ spoliehal na správnosť Používateľom pôvodne nahlásených údajov. V prípade odvolania Plnomocenstva používateľom musí byť podpis štatutára na tomto úradne osvedčený.</li>
            <li>V prípade, ak Používateľ zanikne s právnym nástupcom prechádzajú všetky práva a povinnosti vyplývajúce zo Zmluvy a týchto Podmienok na právneho nástupcu Používateľa.</li>
            <li>V prípade, ak Používateľ z akéhokoľvek dôvodu nemá prístup na kontaktnú emailovú adresu alebo telefónne číslo a nemôže tieto zmeniť prostredníctvom na to určenej funkcie webového sídla Poskytovateľa po zadaní hesla, je Používateľ povinný písomne oznámiť Poskytovateľovi novú emailovú adresu a/alebo telefónne číslo. V prípade zmeny telefónneho čísla musí byť podpis Štatutára na písomnom oznámení osvedčený.</li>
            <li>V prípade, ak Používateľ stratí/zabudne heslo, prípadne chce toto heslo zmeniť, môže tak vykonať prostredníctvom na to určenej funkcie webového sídla Poskytovateľa, ktoré umožňuje vyžiadanie si „reset linku“. Reset link sa zasiela na emailovú adresu Používateľa, pričom Poskytovateľ zároveň zasiela na telefónne číslo Používateľa prostredníctvom SMS správy autorizačný kód. Po kliknutí na zaslaný reset link a zadaní autorizačného kódu z SMS je Používateľovi umožnené zmeniť heslo.</li>
            <li>Používateľ je oprávnený zmeniť svoj verejný kľúč a/alebo zoznam povolených IP adries, s tým, že zmena týchto musí byť Poskytovateľovi oznámená písomne, podpis Štatutára na listine o oznámení zmeny musí byť osvedčený.  Používateľ je povinný okamžite zmeniť svoj verejný kľúč a privátny kľúč v prípade, ak má podozrenie, že tieto mohli byť kompromitované, zároveň je povinný o uvedenom bezodkladne informovať Poskytovateľa.</li>
            <li>Používateľ je samostatne zodpovedný za zabezpečenie dostatočnej úložnej kapacity elektronickej schránky. Používateľ berie na vedomie, že v súlade so zákonom o e-Governmente upovedomí Správca modulu elektronických schránok majiteľa elektronickej schránky (Používateľa) pri dosiahnutí určenej úrovne naplnenia úložnej kapacity majiteľa elektronickej schránky o tejto skutočnosti, a ak je majiteľ elektronickej schránky nečinný, môže zabezpečiť odstránenie elektronických správ a notifikácií v poradí od najskôr uložených až do dosiahnutia určitej voľnej úložnej kapacity, pričom neodstraňuje elektronické správy a notifikácie, ktoré neboli prečítané; odstránenie je možné vykonať najskôr po uplynutí 60 dní odo dňa doručenia upovedomenia a na tretí deň nasledujúci po dni prečítania elektronickej správy alebo notifikácie.</li>
            <li>V prípade, ak má Používateľ vedomosť, resp. podozrenie na akýkoľvek výpadok alebo poruchu služby, je povinný to bez zbytočného odkladu nahlásiť Poskytovateľovi, a to na Poskytovateľom určenú emailovú adresu ako aj poskytnúť Poskytovateľovi potrebnú súčinnosť pri oprave výpadku/poruchy.</li>
            <li>Používateľ súhlasom s týmito Podmienkami zároveň vyhlasuje, že službu GovBox API využíva v súvislosti s výkonom svojej podnikateľskej činnosti a nie je v zmysle platných právnych predpisov spotrebiteľom.</li>
          </ol>
        </li>
        <li><strong>Práva a povinnosti Poskytovateľa a úroveň poskytovania služieb</strong>
          <ol>
            <li>Poskytovateľ je povinný pristupovať do elektronickej schránky Používateľa, sťahovať elektronické správy a elektronické dokumenty a potvrdzovať doručenky, prípadne vykonávať ďalšie úkony v mene Používateľa v závislosti od aktuálnych funkcionalít služby GovBox API podľa Technickej dokumentácie, a to na základe a v rozsahu requestov zaslaných Používateľom do služby GovBox API.</li>
            <li>Používateľ vyhlasuje, že si je vedomý skutočnosti, že odosielateľ elektronickej správy sa môže zmýliť a elektronickú správu adresovať nesprávnej osobe, a to najmä v prípade ak má Štatutár prístup k viacerým elektronickým schránkam. Z tohto dôvodu Poskytovateľ nenesie zodpovednosť za správne adresovanie elektronických správ odosielateľmi.</li>
            <li>Komunikácia, ktorú Používateľ zasiela Poskytovateľovi prostredníctvom služby GovBox API (requesty) ako aj komunikácia Poskytovateľa voči Používateľovi prostredníctvom služby GovBox API (odpovede) je šifrovaná.</li>
            <li>Poskytovateľ je povinný overiť valídnosť každého requestu Používateľa a to prostredníctvom verejného kľúča ako aj IP adresy, z ktorej bol request zavolaný.</li>
            <li>Poskytovateľ je povinný pristupovať do elektronickej schránky Používateľa výlučne na základe takých valídnych requestov zaslaných Používateľom prostredníctvom služby GovBox API, ktoré sú v súlade s týmito Podmienkami. Poskytovateľ je oprávnený pristupovať do služby GovBox API tiež za účelom identifikácie a/alebo riešenia technických problémov, prípadne za iným účelom na písomné Požiadanie Používateľa. Za písomnú formu podľa tohto bodu sa považuje aj zaslanie emailu.</li>
            <li>Za valídny request sa považuje taký request Používateľa, ktorý je (i) podpísaný Digitálnym podpisom – opatrený súkromným kľúčom Používateľa a zároveň overiteľný verejným kľúčom Používateľa, (ii) zaslaný z IP adresy Používateľa, ktorá bola v súlade s týmito Podmienkami oznámená Poskytovateľovi a (iii) v súlade s Fair use policy podľa týchto Podmienok.</li>
            <li>Používateľ berie na vedomie, že záväzná je vždy len tá elektronická správa a/alebo elektronický dokument stiahnutý Používateľom tak, ako bol tento do elektronickej schránky doručený, nie ich vyobrazenie automatizovane vytvorené Poskytovateľom.</li>
            <li>Poskytovateľom vykonané potvrdenie doručenia prostredníctvom na to určenej funkcie Služby vyvoláva účinky doručenia elektronickej správy do vlastných rúk.</li>
            <li>Používateľ berie na vedomie, že na doručovanie zo strany orgánov verejnej moci sa uplatňujú ustanovenia o doručovaní podľa zákona o e-Governemente v jeho aktuálnom znení, ako aj ustanovenia o doručovaní podľa osobitných predpisov, pričom berie na vedomie, že platná právna úprava určuje moment doručenia a počítanie tzv. úložných lehôt. Používateľ si je vedomý, že momentom doručenia dochádza k počiatku plynutia v elektronickej správe určenej lehoty. V prípade, ak Používateľ, alebo iná osoba ním oprávnená, sama nahliadne do elektronickej schránky a doručenú elektronickú správu premiesti alebo vymaže, prípadne s ňou vykoná inú operáciu (ďalej len „temperovaná správa“), Používateľ berie na vedomie, že v takomto prípade Poskytovateľ nemusí byť schopný riadne poskytnúť službu a plniť si povinnosti Poskytovateľovi vyplývajúce zo Zmluvy a Poskytovateľ nie je zodpovedný za akúkoľvek škodu, ktorá vznikla ako dôsledok takéhoto úkonu.</li>
            <li>Poskytovateľ sa zaväzuje poskytovať službu nepretržite. Výpadok alebo omeškanie v poskytovaní služby sa považujú za nedostupnosť služby, ak trvajú nepretržite viac ako 47 hodín, a výpadok alebo omeškanie v poskytovaní služby v menšom rozsahu nebude braný ako porušenie povinností Poskytovateľa, vyplývajúcich mu z týchto Podmienok.</li>
            <li>Vyňaté z povinnosti poskytovať službu budú (i) všetky udalosti nezapríčinené pochybením Poskytovateľa, (ii) nevyhnutné úpravy služby na strane Poskytovateľa nepresahujúce 47 hodín, (iii) aktualizácie služby vykonávané Poskytovateľom nepresahujúce 47 hodín, (iv) výpadky na strane Používateľa alebo spôsobené Používateľom, (v) okolnosti vylučujúce zodpovednosť definované v článku 9. týchto Podmienok, (vi) nedostupnosť alebo iné prekážky na strane Správcu modulu elektronických schránok. V prípade zistenia akéhokoľvek výpadku, je Používateľ povinný o tomto bezodkladne informovať Poskytovateľa zaslaním emailu na emailovú adresu uvedenú na webovom sídle Poskytovateľa, ako aj poskytnúť mu potrebnú súčinnosť pri oprave výpadku.</li>
            <li>V prípade akýchkoľvek pochybností o tom, či sú requesty zasielané skutočne Používateľom a/alebo v prípade akýchkoľvek pochybností o legitimite zmeny vykonanej po zadaní hesla prostredníctvom na to určenej funkcie webového sídla Poskytovateľa, si Poskytovateľ môže vyžiadať od Používateľa, resp. jeho Štatutára preukázanie oprávnenia konať za Používateľa, s určením lehoty, v ktorej je Používateľ povinný preukázať osoby oprávnené konať za Používateľa. V prípade, ak Používateľ v tejto lehote nepreukáže osoby oprávnené za neho konať, je Poskytovateľ oprávnený podľa svojho uváženia prerušiť poskytovanie služieb GovBox API, alebo okamžite odstúpiť od Zmluvy.</li>
            <li>Na základe týchto Podmienok Služby Slovensko.Digital, s.r.o. neudeľuje súhlas na použitie (i) obchodných mien a iných názvov právnických osôb, (ii) ochranných známok alebo (iii) iných označení využívaných Služby Slovensko.Digital, s.r.o. s výnimkou, ak to vyžaduje ich primerané a obvyklé použitie pri označení pôvodcu služby.</li>
          </ol>
        </li>
        <li><strong>Odmena za poskytnutú službu</strong>
          <ol>
            <li>Používateľ je povinný Poskytovateľovi zaplatiť pri zriadení služby jednorazový Integračný poplatok, ktorého výška je predmetom individuálnej dohody medzi Poskytovateľom a Používateľom a je uvedená v Zmluve.</li>
            <li>Výška poplatku za Službu (odmeny) je uvedená v platnom Cenníku služby GovBox API zverejnenom na webovom sídle Poskytovateľa, ktorý predstavuje neoddeliteľnú súčasť Zmluvy medzi Služby Slovensko.Digital, s.r.o. a Používateľom týkajúcej sa služby GovBox API (ďalej len „Cenník“).</li>
            <li>Používateľ je povinný hradiť poplatky za službu určené podľa Cenníka od prvého dňa mesiaca nasledujúceho po mesiaci, v ktorom Poskytovateľ informoval Používateľa o zriadení prístupu Poskytovateľovi Správcom modulu elektronických schránok do elektronickej schránky Používateľa.</li>
            <li>Používateľ je povinný uhradiť poplatky za službu ako aj Integračný poplatok v lehote splatnosti určenej faktúrou a spôsobom určeným Poskytovateľom, a to buď prevodom na bankový účet uvedený vo faktúre alebo – pokiaľ takú možnosť Poskytovateľ sprístupní – prostredníctvom platobnej brány dostupnej na webovom sídle Poskytovateľa. Faktúru doručí Poskytovateľ Používateľovi elektronicky na kontaktnú emailovú adresu Používateľa.</li>
            <li>O pripísaní poplatku za službu a/alebo Integračného poplatku na účet Poskytovateľa informuje Poskytovateľ Používateľa prostredníctvom emailu zaslaného na emailovú adresu Používateľa.</li>
            <li>V prípade, ak sa Používateľ dostane do omeškania s úhradou poplatkov za Službu a/alebo Integračného poplatku a/alebo počet stiahnutých elektronických správ prekročí o viac ako 10% poslednú kategóriu počtu stiahnutých elektronických správ mesačne uvedenú v Cenníku za ktorú je stanovená paušálna odmena, je Poskytovateľ oprávnený pozastaviť poskytovanie služby Používateľovi. V prípade omeškania sa s úhradou poplatku za službu o viac ako tridsať (30) dní je Poskytovateľ oprávnený od zmluvného vzťahu s Používateľom odstúpiť oznámením zaslaným na emailovú adresu Používateľa. V tomto prípade sa uplatňuje bod 7.8 týchto Podmienok.</li>
            <li>Poplatky za službu sa platia súhrne za ten ktorý štvrťrok, a to po skončení príslušného kalendárneho štvrťroku na základe faktúry vystavenej Poskytovateľom do piatich (5) dní od skončenia príslušného štvrťroku. Faktúru doručí Poskytovateľ Používateľovi elektronicky na emailovú adresu Používateľa.</li>
            <li>Používateľ je povinný uhradiť Poskytovateľovi úrok z omeškania vo výške 0,02 % z dlžnej sumy za každý deň omeškania s úhradou faktúry.</li>
          </ol>
        </li>
        <li><strong>Vypovedanie Zmluvy a odstúpenie od Zmluvy</strong>
        <ol>
          <li>Zmluvu je možné ukončiť vzájomnou dohodou zmluvných strán.</li>
          <li>V záujme odstránenia akejkoľvek pochybnosti, povinnosti Poskytovateľa zanikajú najneskôr zrušením elektronickej schránky Používateľa.</li>
          <li>Poskytovateľ a/alebo Používateľ je oprávnený vypovedať Zmluvu bez udania dôvodu, s výpovednou lehotou jedného mesiaca, ktorá začína plynúť dňom nasledujúcim po dni v ktorom bola výpoveď doručená druhej strane.</li>
          <li>V prípade, že Správca modulu elektronických schránok z akéhokoľvek dôvodu zruší Poskytovateľovi prístup do elektronickej schránky Používateľa, je Poskytovateľ oprávnený okamžite vypovedať Zmluvu, a to zaslaním výpovede na emailovú adresu Používateľa.</li>
          <li>Poskytovateľ je oprávnený okamžite odstúpiť od zmluvy:
          <ol>
            <li>Ak sa Používateľ stane podľa uváženia Poskytovateľa nekontaktným a/alebo nedôveryhodným.</li>
            <li>V prípadoch stanovených týmito Podmienkami.</li>
          </ol>
          Ak Poskytovateľ rozhodne o prerušení poskytovania služby alebo o odstúpení od Zmluvy z dôvodov podľa týchto Podmienok, Poskytovateľ nie je povinný poskytovať službu a nie je zodpovedný za akúkoľvek škodu, ktorá vznikla, či už priamo alebo nepriamo, ako dôsledok uplatnenia si jeho práva pozastaviť poskytovanie služby alebo odstúpiť od zmluvy. Používateľ berie na vedomie, že momentom oznámenia Používateľovi o pozastavení poskytovania služby a/alebo odstúpení od Zmluvy je Používateľ samostatne zodpovedný za nahliadanie do svojej elektronickej schránky.<br>
          Odchylne od § 351 odst. 2 Obchodného zákonníka si strany zjednávajú, že už poskytnuté plnenia sa nevracajú.
          </li>
        </ol>

      <li><strong>Zodpovednosť</strong>
        <ol>
          <li>Náhrada škody zo strany Poskytovateľa za škody akéhokoľvek druhu spôsobené Používateľovi používaním služby GovBox API (poškodenie dobrého mena, zastavenie prác, ušlý zisk, strata údajov, strata obchodnej príležitosti alebo akákoľvek iná škoda obchodnej povahy) je obmedzená sumou 5.000,- Eur.</li>
        </ol>
      </li>

      <li><strong>Okolnosti vylučujúce zodpovednosť</strong>
      <ol>
        <li>Za okolnosti vylučujúce zodpovednosť sa považuje taká prekážka, ktorá nastala nezávisle od vôle Poskytovateľa alebo Používateľa a ktorá im bráni v splnení ich povinnosti, ak nemožno rozumne predpokladať, že by povinná strana túto prekážku alebo jej následky odvrátila alebo prekonala a že by v čase vzniku svojej povinnosti túto prekážku predvídala.</li>
        <li>Za okolnosti vylučujúce zodpovednosť na strane Poskytovateľa sa považujú vždy:
        <ol>
          <li>dlhodobý výpadok elektrickej energie v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa alebo jeho dodávateľa;</li>
          <li>živelná pohroma v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa alebo jeho dodávateľa;</li>
          <li>softvérové poškodenie systému a infraštruktúry Poskytovateľa, vrátane neznámych agresívnych vírusov;</li>
          <li>napadnutie infraštruktúry Poskytovateľa alebo jeho dodávateľa zo strany tretích osôb, ktoré má za následok ich nefunkčnosť alebo obmedzenie riadnej funkčnosti;</li>
          <li>neposkytnutie požadovanej súčinnosti zo strany Používateľa;</li>
          <li>nesprávna integrácia služby GovBox API;</li>
          <li>vopred oznámené plánované odstávky a údržby Služby Poskytovateľa alebo jeho dodávateľa;</li>
        </ol>
        </li>
      </ol>
      </li>

      <li><strong>Rozhodné právo a dohoda o právomoci súdov</strong>
        <ol>
      <li>Zmluvný vzťah založený medzi Služby Slovensko.Digital, s.r.o. a Používateľom v súvislosti s týmito podmienkami použitia sa spravuje slovenským právom bez prihliadnutia na kolízne normy, pričom práva a povinnosti strán bližšie neupravené zmluvnými dojednaniami sa spravujú ustanoveniami Obchodného zákonníka.</li>
      <li>Spory vyplývajúce alebo súvisiace s týmito Podmienkami budú prejednávať príslušné súdy Slovenskej republiky.</li>
        </ol>

      <li><strong>Prechodné a záverečné ustanovenia</strong>
        <ol>
          <li>Tieto Podmienky používania nadobúdajú účinnosť okamihom ich zverejnenia na <%= link_to 'webovom sídle', terms_api_services_govbox_index_url %> pokiaľ ďalej nie je uvedené inak.</li>
          <li>V prípade, ak sa akékoľvek ustanovenie týchto Podmienok a/alebo Zmluvy stane v akomkoľvek ohľade neplatným, nezákonným alebo nevymáhateľným, nebude tým žiadnym spôsobom dotknutá, alebo porušená platnosť, zákonnosť alebo vymáhateľnosť ostatných ustanovení týchto Podmienok a/alebo Zmluvy.</li>
          <li>Služby Slovensko.Digital, s.r.o. je oprávnené tieto Podmienky jednostranne zmeniť, pričom o akejkoľvek zmene v ich obsahu upovedomí Používateľa 14 dní pred jej účinnosťou zverejnením nového znenia Podmienok na webovom sídle Služby Slovensko.Digital, s.r.o. V prípade, ak Používateľ písomne oznámi Služby Slovensko.Digital, s.r.o. svoj nesúhlas so zmenou Podmienok pred nadobudnutím účinnosti zmeny, má súčasne právo zmluvný vzťah založený na základe týchto Podmienok a Zmluvy s okamžitou účinnosťou vypovedať. Ustanovenia tohto bodu sa primerane vzťahujú aj na zmenu Cenníka podľa bodu 6.2. týchto Podmienok.</li>
          <li>Znenie týchto Podmienok nadobúdajú platnosť a účinnosť dňom ich zverejnenia na webovom sídle Poskytovateľa.</li>
        </ol>
      </li>
      </ol>
    </div>
  </div>
</div>
