<div class="container">
  <div class="row legal">
    <div class="col-lg-8">
      <h1>Všeobecné obchodné podmienky používania služby GovBox</h1>
      <p class="mb-5"><small>Platné od 1.8.2017</small></p>
      <div class="alert alert-warning">
        <strong>Upozornenie: </strong> Táto verzia podmienok je stará a bola nahradená <%= link_to 'novým znením', terms_services_govbox_index_path %>.
      </div>
      <ol>
        <li><strong>Predmet úpravy</strong>
          <ol>
            <li>Služby Slovensko.Digital s.r.o. prevádzkuje službu GovBox, ktorá umožňuje automatizované preposielanie elektronických správ doručených do elektronickej schránky Používateľa ako aj automatizované preposielanie elektronických dokumentov doručených do elektronickej schránky používateľa, a to na používateľom oznámenú emailovú adresu.</li>
            <li>Tieto obchodné podmienky vydané podľa § 273 zákona č. 513/1991 Z.z. Obchodný zákonník v platnom znení upravujú časť obsahu zmluvného vzťahu, na základe ktorého Služby Slovensko.Digital umožňuje Používateľovi využívanie služby GovBox a Používateľ sa zaväzuje zaplatiť Služby Slovensko.Digital, s.r.o. odmenu vo výške a za podmienok dohodnutých v týchto obchodných podmienkach a v Zmluve, ako aj plniť ostatné záväzky vyplývajúce z týchto obchodných podmienok a zo Zmluvy uzatvorenej medzi Služby Slovensko.Digital a Používateľom.</li>
          </ol>
        </li>
        <li><strong>Definície pojmov</strong>
          <ol>
            <li><strong>„GovBox“</strong> – služba, ktorá umožňuje prostredníctvom technického účtu  najmä preposielanie elektronických správ v zmysle § 3  písm. e) zákona o e-Governmente a elektronických dokumentov v zmysle § 3 písm. g) zákona o e-Governmente doručených do elektronickej schránky Používateľa, na emailovú adresu oznámenú Používateľom, a to automatizovaným spôsobom, bez nutnosti prihlásenia sa na oficiálny portál elektronických schránok prostredníctvom autentifikátora v zmysle § 12 zákona o e-Governmente. Poskytovateľom GovBox-u je spoločnosť Služby Slovensko.Digital s.r.o., ktorá službu poskytuje prostredníctvom technických účtov zriadených prevádzkovateľom Ústredného portálu verejnej správy na základe elektronickej komunikácie medzi softvérovou infraštruktúrou Správcu modulu elektronických schránok a softvérovou infraštruktúrou  Služby Slovensko.Digital s.r.o. (ďalej aj „služba“ alebo „služba GovBox“);</li>
            <li><strong>„Zákon o e-Governmente“</strong> - zákon č. 305/2013 Z.z. o elektronickej podobe výkonu pôsobnosti orgánov verejnej moci v aktuálnom znení;</li>
            <li><strong>„Obchodný zákonník“</strong> - zákon č. 513/1991 Z.z., Obchodný zákonník v aktuálnom znení;</li>
            <li><strong>„elektronická schránka“</strong> -  elektronická schránka v zmysle §11 zákona o e-Governmente. Funkcionalitu elektronickej schránky upravuje  manuál vydaný Správcom modulu elektronických schránok a je zverejnený na www.slovensko.sk a Používateľ je povinný sa s ním oboznámiť a priebežne sa oboznamovať aj s jeho zmenami. Link na manuál je nasledovný:   https://www.slovensko.sk/_img/CMS4/Navody/ES_pouzivatelska_prirucka.pdf);</li>
            <li><strong>„Služby Slovensko.Digital s.r.o.“</strong> alebo aj „Poskytovateľ“- spoločnosť zapísaná v obchodnom registri Okresného súdu Bratislava I, oddiel Sro, vložka: 119763/B, so sídlom Staré Grunty 18, 841 04 Bratislava, IČO: 50 881 337;</li>
            <li><strong>„Používateľ“</strong> - právnická osoba, ktorá na základe plnomocenstva a/alebo iného dokumentu splnomocní Poskytovateľa na pristupovanie do, a manipulovanie s, elektronickou schránkou, ktorej majiteľom podľa zákona o e-Governmente je Používateľ, ako aj na ďalšie úkony vyplývajúce z plnomocenstva, a zároveň ktorá uzatvorí s Poskytovateľom Zmluvu o poskytovaní služby GovBox, a zároveň ktorá je povinná zaplatiť Poskytovateľovi odmenu za poskytovanie služby vo výške vyplývajúcej z aktuálneho Cenníka. Používateľ berie na vedomie, že v zmluvnom vzťahu s NASES je označený aj ako Koncový Konzument. Používateľ berie na vedomie, že podľa zmluvného vzťahu medzi NASES a Poskytovateľom ako aj vzťahu medzi NASES a Používateľom, pristupuje do elektronickej schránky Používateľ, a to buď sám alebo sprostredkovane cez Poskytovateľa;</li>
            <li><strong>„Záujemca“</strong> – právnická osoba, ktorá chce využívať službu GovBox;</li>
            <li><strong>„Poplatok za využívanie služby“</strong> – odmena Poskytovateľa za poskytovanie služby vo výške určenej aktuálnym Cenníkom;</li>
            <li><strong>„Aktivačný poplatok“</strong> – jednorazový poplatok za zriadenie služby GovBox;</li>
            <li><strong>„Štatutár“</strong> - fyzická osoba, ktorá je štatutárnym orgánom alebo členom štatutárneho orgánu Používateľa alebo Záujemcu;</li>
            <li><strong>„Podmienky“</strong> sú tieto všeobecné obchodné podmienky nazvané ako Všeobecné obchodné podmienky používania služby GovBox, v ich aktuálnom znení;</li>
            <li><strong>„Splnomocnenie“</strong> alebo „Plnomocenstvo“– splnomocnenie na určenom formulári, ktorým Používateľ splnomocní Poskytovateľa na pristupovanie a manipulovanie s elektronickou schránkou, prípadne na iné úkony, a to všetko v rozsahu v tomto Splnomocnení uvedenom;</li>
            <li><strong>„Zmluva“</strong>- Zmluva o poskytovaní služby GovBox uzatvorená medzi Používateľom a Poskytovateľom, ktorou sa zakladá vzťah medzi Používateľom a Poskytovateľom, a ktorá upravuje práva a povinnosti Používateľa a Poskytovateľa;</li>
            <li><strong>„Správca modulu elektronických schránok“</strong>  – v zmysle § 10 ods. 4 zákona o e-Governmente je správcom modulu elektronických schránok Úrad vlády Slovenskej republiky. Za Správcu modulu elektronických schránok sa považuje aj prevádzkovateľ Ústredného portálu verejnej správy, ktorým je  Národná agentúra pre sieťové a elektronické služby (ďalej len „NASES“), príspevková organizácia Úradu vlády Slovenskej republiky so sídlom na Kollárovej 8, 917 002 Trnava, IČO: 42 156 424.;</li>
            <li><strong>„elektronická správa“</strong> – elektronická správa v zmysle § 3  písm. e) zákona o e-Governmente a elektronický dokument v zmysle § 3 písm. g) zákona o e-Governmente, ktoré nie sú doručované do vlastných rúk  podľa § 29 odst. 3 zákona o e-Governmente;</li>
            <li><strong>„elektronická správa do vlastných rúk“</strong> – elektronická správa v zmysle § 3  písm. e) zákona o e-Governmente a elektronický dokument v zmysle § 3 písm. g) zákona o e-Governmente, ktoré sú doručované do vlastných rúk  podľa § 29 odst. 3 zákona o e-Governmente</li>
            <li><strong>„Webová adresa služby“</strong> – webová stránka https://ekosystem.slovensko.digital/sluzby/govbox</li>
            </li>
          </ol>
        </li>
        <li><strong>Objednanie služby</strong>
          <ol>
            <li>Službu GovBox objednáva v mene Záujemcu jeho Štatutár vyplnením formuláru na webovej adrese služby (ďalej len „Formulár“), ktorý obsahuje najmä nasledujúce údaje:
              <ol>
                <li>Názov Používateľa</li>
                <li>Sídlo Používateľa</li>
                <li>Korešpondenčná adresa, ak sa líši od adresy sídla Používateľa</li>
                <li>IČO Používateľa</li>
                <li>Meno a priezvisko Štatutára</li>
                <li>Rodné číslo Štatutára</li>
                <li>Dátum narodenia Štatutára</li>
                <li>Emailová adresa Používateľa, na ktorú bude obsah elektronickej schránky preposielaný</li>
                <li>Heslo slúžiace na overenie totožnosti Používateľa</li>
                <li>Mobilné telefónne číslo Používateľa pre potreby komunikácie v prípadoch určených týmito Podmienkami.</li>
              </ol>
            <li>Údaje Štatutára podľa písmen e, f a g sa uvedú v rozsahu počtu osôb v akom Štatutári konajú za Záujemcu (napr. ak za právnickú osobu konajú vždy dvaja Štatutári spoločne, uvedú sa údaje oboch týchto Štatutárov).</li>
            <li>Záujemca nie je povinný uviesť údaje Štatutára/Štatutárov vo Formulári, avšak v takom prípade je ich povinný následne uviesť v Zmluve.</li>
            <li>Potvrdením a odoslaním Formuláru a/alebo podpisom Zmluvy vyjadruje Záujemca svoj súhlas s týmito Podmienkami a Štatutár berie na vedomie, že jeho osobné údaje, ktoré boli Poskytovateľovi poskytnuté v tomto Formulári a/alebo v Plnomocenstve, bude Poskytovateľ spracúvať podľa § 10 odst. 3 písm. b) Zákona č. 122/2013 Z.z. o ochrane osobných údajov (ďalej len „zákon o ochrane osobných údajov“) a Štatutár zároveň vyjadruje súhlas s tým, aby boli jeho osobné údaje poskytnuté tretím stranám, a to Správcovi modulu elektronických schránok, Prevádzkovateľovi Ústredného portálu verejnej správy to všetko za účelom plnenia Zmluvy .</li>
            <li>Na základe obdržaného Formuláru, po overení údajov z Formuláru a zároveň za predpokladu, že údaje sú totožné s aktuálnym zápisom v Registri právnických osôb/Obchodnom registri, zašle Poskytovateľ Záujemcovi na emailovú adresu Záujemcom označenú vo Formulári Splnomocnenie, Zmluvu a prípadne iné dokumenty vyžadované Správcom modulu elektronických schránok. Zmluva bude podpísaná Poskytovateľom. Zaslanie Splnomocnenia a Zmluvy sa považuje za návrh na uzavretie zmluvy.</li>
            <li>Záujemca následne doručí Poskytovateľovi jeden originál Zmluvy podpísaný Štatutárom/Štatutármi a minimálne jeden originál Splnomocnenia podpísaný Štatutárom/Štatutármi s ich úradne osvedčeným podpisom/podpismi, prípadne aj iné dokumenty vyžadované Správcom modulu elektronických schránok. Záujemca nie je oprávnený Zmluvu a/alebo Splnomocnenie akýmkoľvek spôsobom meniť alebo do nich zasahovať, pokiaľ sa osobitne s Poskytovateľom nedohodne inak.</li>
            <li>V prípade, ak Záujemca nedoručí riadne Poskytovateľovi všetky dokumenty uvedené v predchádzajúcom bode 3.5. a 3.6., t.j. nedoručí požadovaný počet originálov, alebo na doručenom dokumente/dokumentoch bude chýbať podpis Štatutára, alebo podpis Štatutára  nebude úradne osvedčený, alebo  dokumenty budú obsahovať chyby alebo bude text dokumentov, daný Poskytovateľom, pozmenený, prípadne budú dokumenty obsahovať iné nedostatky podľa uváženia Poskytovateľa, Poskytovateľ upozorní Záujemcu na nedostatky, a to zaslaním emailu obsahujúceho špecifikáciu nedostatkov na Záujemcom oznámenú emailovú adresu. Za účelom uzatvorenia Zmluvy je nevyhnutné, aby Záujemca odstránil všetky nedostatky na dokumentoch a úplné a bezchybné ich späť doručil Poskytovateľovi.</li>
            <li>V prípade úradného osvedčovania podpisu Štatutára mimo územia Slovenskej republiky musí byť Splnomocnenie doplnené o apostilu alebo superlegalizáciu, s výnimkou úradného osvedčenia podpisu k tomu oprávneným subjektom v Českej republike alebo úradného osvedčenia podpisu Zastupiteľským úradom Slovenskej republiky v zahraničí. Apostila alebo doložka o superlegalizácii musia byť úradne preložené do slovenského jazyka.</li>
            <li>O prijatí Zmluvy a Splnomocnenia informuje Poskytovateľ Záujemcu zaslaním emailu na emailovú adresu oznámenú vo Formulári.  Doručením Zmluvy Poskytovateľovi, ktorá  je podpísaná oprávnenou osobou Záujemcu a spĺňa požiadavky uvedené v tomto článku, dochádza k uzatvoreniu Zmluvy medzi Používateľom a Poskytovateľom avšak účinnosť nadobudne za podmienok uvedených v Zmluve a týchto Podmienkach.</li>
            <li>Poskytovateľ je povinný doručiť Splnomocnenie Správcovi modulu elektronických schránok alebo Prevádzkovateľovi Ústredného portálu verejnej správy. Po zriadení prístupu Poskytovateľovi Správcom resp. Prevádzkovateľom modulu elektronických schránok do elektronickej schránky Používateľa, je Poskytovateľ o tomto povinný informovať Používateľa prostredníctvom emailu zaslaného na emailovú adresu Používateľa oznámenú vo Formulári (ďalej len „emailová adresa Používateľa“). Doručením emailu podľa predchádzajúcej vety nadobúda Zmluva účinnosť a Poskytovateľ začne poskytovať služby podľa Zmluvy.</li>
            <li>V prípade, ak Správca modulu elektronických schránok alebo Prevádzkovateľ Ústredného portálu verejnej správy z akéhokoľvek dôvodu nezriadi Poskytovateľovi prístup do elektronickej schránky Používateľa a to ani v lehote 30 dní odo dňa zadania požiadavky na zriadenie prístupu, je Poskytovateľ oprávnený s okamžitou platnosťou Zmluvu vypovedať. V takomto prípade je výpoveď účinná jej doručením Záujemcovi. Poskytovateľ vráti Používateľovi Aktivačný poplatok ak bol uhradený, a to na Používateľom písomne oznámený bankový účet.</li>
          </ol></li>
        <li><strong>Práva a povinnosti Používateľa</strong>
          <ol>
            <li>Používateľ je povinný zabezpečiť dostatočnú kapacitu emailovej schránky Používateľa tak, aby mu mohol Poskytovateľ preposielať elektronické správy minimálne jedenkrát za deň. Používateľ je samostatne zodpovedný za zabezpečenie si prístupu do emailovej schránky Používateľa slúžiacej na preposielanie elektronických správ Používateľa a označenej Používateľom v Zmluve.</li>
            <li>Používateľ je oprávnený zmeniť svoju emailovú adresu, na ktorú majú byť elektronické správy preposielané, a to prostredníctvom na to určenej funkcie webového sídla Poskytovateľa po zadaní hesla, ktoré Používateľ oznámil Poskytovateľovi vo Formulári podľa bodu 3.1 týchto Podmienok. Obdobný postup sa použije pre zmenu mobilného telefónneho čísla Používateľa.</li>
            <li>Používateľ je povinný bez zbytočného odkladu informovať Poskytovateľa o každej zmene údajov uvedených vo Formulári, najmä o zmene v osobe Štatutára; zmenách v oprávnení konať za Poskytovateľa; zmene názvu, sídla a právnej formy Používateľa; a tiež o vstupe do likvidácie, podaní návrhu na vyhlásenie konkurzu, resp. reštrukturalizácie alebo  skutočnosti, že bol na majetok Používateľa vyhlásený konkurz, alebo bola povolená reštrukturalizácia. V prípade, že Používateľ zmeny podľa predchádzajúcej vety bez zbytočného odkladu od ich vzniku neohlási Poskytovateľovi, Poskytovateľ nenesie zodpovednosť za akékoľvek škody, či už priame alebo nepriame, ktoré vznikli ako dôsledok úkonu Poskytovateľa, pri vykonaní ktorého sa Poskytovateľ spoliehal na správnosť Používateľom pôvodne nahlásených údajov. V prípade, ak oznámenie zmeny v osobe Štatutára súčasne neobsahuje žiadosť o zmenu emailovej adresy, na ktorú sa elektronické správy preposielajú, Poskytovateľ je oprávnený preposielať elektronické správy na pôvodne oznámenú emailovú adresu a zasielať SMS správy na pôvodné mobilné telefónne číslo. V prípade odvolania Plnomocenstva používateľom musí byť podpis štatutára na tomto úradne osvedčený.</li>
            <li>V prípade, ak Používateľ zanikne s právnym nástupcom prechádzajú všetky práva a povinnosti vyplývajúce zo Zmluvy a týchto Podmienok na právneho nástupcu Používateľa.</li>
            <li>V prípade, ak Používateľ z akéhokoľvek dôvodu nemá prístup na emailovú adresu, na ktorú sa elektronické správy preposielajú a nemôže zmeniť túto emailovú adresu prostredníctvom na to určenej funkcie webového sídla Poskytovateľa po zadaní hesla, je Používateľ povinný písomne oznámiť Poskytovateľovi novú emailovú adresu. To isté platí aj pre zmenu mobilného telefónneho čísla.</li>
            <li>V prípade, ak Používateľ stratí/zabudne heslo, prípadne chce toto heslo zmeniť, môže tak vykonať prostredníctvom na to určenej funkcie webového sídla Poskytovateľa, ktoré umožňuje vyžiadanie si „reset link“. Reset link sa zasiela na emailovú adresu Používateľa, pričom Poskytovateľ zároveň zasiela na telefónne číslo Používateľa prostredníctvom SMS správy autorizačný kód. Po kliknutí na zaslaný reset link a zadaní autorizačného kódu z SMS je Používateľovi umožnené zmeniť heslo.</li>
            <li>Používateľ je samostatne zodpovedný za zabezpečenie dostatočnej úložnej kapacity elektronickej schránky. Používateľ berie na vedomie, že v súlade s § 16 odst. 3 zákona o e-Governmente upovedomí Správca modulu elektronických schránok majiteľa elektronickej schránky (Používateľa) pri dosiahnutí určenej úrovne naplnenia úložnej kapacity majiteľa elektronickej schránky o tejto skutočnosti, a ak je majiteľ elektronickej schránky nečinný, môže zabezpečiť odstránenie elektronických správ a notifikácií v poradí od najskôr uložených až do dosiahnutia určitej voľnej úložnej kapacity, pričom neodstraňuje elektronické správy a notifikácie, ktoré neboli prečítané; odstránenie je možné vykonať najskôr po uplynutí 60 dní odo dňa doručenia upovedomenia a na tretí deň nasledujúci po dni prečítania elektronickej správy alebo notifikácie.</li>
            <li>V prípade, ak má Používateľ vedomosť, resp. podozrenie na akýkoľvek výpadok alebo poruchu služby, je povinný to bez zbytočného odkladu nahlásiť Poskytovateľovi, a to na Poskytovateľom určenú emailovú adresu ako aj poskytnúť Poskytovateľovi potrebnú súčinnosť pri oprave výpadku/poruchy.</li>
            <li>Používateľ súhlasom s týmito Podmienkami zároveň vyhlasuje, že službu GovBox využíva v súvislosti s výkonom svojej podnikateľskej činnosti a nie je v zmysle platných právnych predpisov spotrebiteľom.</li>
          </ol>
        </li>
        <li><strong>Práva a povinnosti Poskytovateľa a úroveň poskytovania služieb</strong>
          <ol>
            <li>Poskytovateľ je povinný pristupovať do elektronickej schránky Používateľa najmenej jeden krát za deň za účelom zistenia nových elektronických správ, ktoré majú byť zaslané Používateľovi.</li>
            <li>V prípade, ak na základe pristúpenia do elektronickej schránky Používateľa zistí Poskytovateľ, že do elektronickej schránky bola doručená elektronická správa, prepošle túto elektronickú správu na emailovú adresu Používateľa.</li>
            <li>Poskytovateľ, je povinný preposlať len takú elektronickú správu, ktorá sa nachádza v elektronickej schránke v čase nahliadnutia do nej Poskytovateľom.</li>
            <li>Poskytovateľ preposiela elektronické správy, tak ako boli doručené do elektronickej schránky Používateľa a zároveň, ak je to možné, posiela Poskytovateľ za účelom vyššej úrovne poskytovania služby tiež vyobrazenie tej ktorej elektronickej správy automatizovane vytvorenej Poskytovateľom. Záväzná je však vždy len elektronická správa preposlaná tak, ako bola do elektronickej schránky doručená, nie jej vyobrazenie automatizovane vytvorenej Poskytovateľom.</li>
            <li>V prípade, ak na základe nahliadnutia do elektronickej schránky Používateľa zistí Poskytovateľ, že do elektronickej schránky bola doručená výzva na potvrdenie doručenia  elektronickej správy do vlastných rúk (ďalej len „elektronická doručenka“), Poskytovateľ informuje o tejto skutočnosti Používateľa zaslaním správy na emailovú adresu Používateľa, ktorá správa obsahuje elektronickú doručenku.</li>
            <li>Používateľ vykoná potvrdenie doručenia elektronickej správy do vlastných rúk prostredníctvom kliknutia na link, ktorý je obsiahnutý vo výzve zaslanej podľa predchádzajúceho bodu, a následného zadania hesla. Používateľ môže vykonať potvrdenie niekoľkých elektronických doručeniek naraz, pokiaľ takúto funkcionalitu podporuje služba GovBox. Na základe takéhoto potvrdenia, Poskytovateľ automatizovane pristúpi bez zbytočného odkladu k potvrdeniu doručenia elektronickej správy do vlastných rúk v samotnej elektronickej schránke a k preposlaniu samotnej elektronickej správy Používateľovi.</li>
            <li>Poskytovateľom vykonané potvrdenie doručenia v samotnej elektronickej schránke podľa poslednej vety predchádzajúceho bodu vyvoláva účinky doručenia elektronickej správy do vlastných rúk. Elektronická správa do vlastných rúk sa považuje za doručenú momentom uvedeným v bode 5.9. písm. a) Podmienok.</li>
            <li>V prípade, ak Používateľ nepotvrdí prevzatie (elektronickú doručenku) tej ktorej elektronickej správy do vlastných rúk po dobu dlhšiu ako 3 dni odo dňa odoslania mu správy obsahujúcej výzvu na potvrdenie doručenia elektronickej správy, Poskytovateľ zašle, na emailovú adresu Používateľa, sumárnu správu informujúcu ho o všetkých elektronických správach do vlastných rúk čakajúcich na prevzatie a zároveň upozorní Používateľa na skutočnosť, že eviduje neprevzaté elektronické správy do vlastných rúk zaslaním SMS správy na telefónne číslo Používateľa.</li>
            <li>Používateľ berie na vedomie, že podľa zákona o e-Governemente sa správa považuje za doručenú:
              <ol>
                <li>ak sa doručuje do vlastných rúk, dňom, hodinou, minútou a sekundou uvedenými na elektronickej doručenke alebo márnym uplynutím úložnej lehoty podľa toho, ktorá skutočnosť nastane skôr, a to aj vtedy, ak sa adresát o doručení nedozvedel,</li>
                <li>ak nie je adresátom orgán verejnej moci a nedoručuje sa do vlastných rúk, deň bezprostredne nasledujúci po uložení elektronickej správy.</li>
              </ol>
              <p>Používateľ berie na vedomie, že podľa zákona o e-Governemente je úložná lehota podľa písm. a) vyššie 15 dní odo dňa nasledujúceho po dni uloženia elektronickej správy, ak osobitný predpis neustanovuje inú lehotu. Používateľ si je vedomý, že momentom doručenia dochádza k počiatku plynutia v elektronickej správe určenej lehoty.</li>
            <li>Používateľ berie na vedomie, že ustanovenie písmena a) a písm. b) sa v prípadoch podľa § 32 odst. 6 zákona o e-Governmente neuplatňuje, t.j. elektronická správa sa považuje za nedoručenú a postupuje sa podľa ustanovenia § 32 odst. 7 o e-Governmente. V prípade, ak sa akákoľvek elektronická správa preposlaná na emailovú adresu Používateľa vráti ako nedoručiteľná, je Poskytovateľ povinný o tejto skutočnosti upovedomiť Používateľa zaslaním SMS správy na telefónne číslo Používateľa uvedené vo Formulári. Ak bude niekoľko hlásení o nedoručiteľnosti elektronických správ, Poskytovateľ si splní povinnosť podľa predchádzajúcej vety, ak informuje Používateľa o uvedenej skutočnosti zaslaním jednej SMS správy. V prípade ak je správa nedoručiteľná, môže Poskytovateľ doručiť elektronickú správu iným vhodným spôsobom (najmä uložením na úložisku tretej osobe poskytujúcej takéto služby), a o tejto skutočnosti upovedomí Používateľa. V záujme odstránenia pochybností, Poskytovateľ nemá v takomto prípadne žiadnu povinnosť doručovať správu, a to ani prostredníctvom súkromného alebo poštového doručovateľa.</li>
            <li>V prípade, ak Používateľ alebo iná osoba ním oprávnená, sama  nahliadne do elektronickej schránky a doručenú elektronickú správu premiesti alebo vymaže, prípadne s ňou vykoná inú operáciu (ďalej len „temperovaná správa“), Používateľ berie na vedomie, že Poskytovateľ nemusí byť schopný riadne poskytnúť službu a plniť si povinnosti Poskytovateľovi vyplývajúce zo Zmluvy. V tomto prípade Poskytovateľ nie je povinný temperovanú správu alebo dokument Používateľovi doručiť, nedoručenie temperovanej správy Poskytovateľom nie je považované za porušenie povinností Poskytovateľa podľa Zmluvy a Podmienok, a Poskytovateľ nie je zodpovedný za akúkoľvek škodu, ktorá vznikla ako dôsledok nedoručenia temperovanej správy.</li>
            <li>Poskytovateľ je povinný zasielať Používateľovi jedenkrát za týždeň sumár poskytovania služby. V prípade, ak Používateľ sumár poskytovania služby jedenkrát za týždeň neobrží, je povinný o tomto bezodkladne informovať Poskytovateľa zaslaním správy na Poskytovateľom určenú emailovú adresu ako aj poskytnúť mu potrebnú súčinnosť pri oprave výpadku pokiaľ to bude technicky možné.</li>
            <li>Poskytovateľ sa zaväzuje poskytovať službu nepretržite. Výpadok alebo omeškanie v poskytovaní služby sa považujú za nedostupnosť služby, ak trvajú nepretržite viac ako 47 hodín, a výpadok alebo omeškanie v poskytovaní služby v menšom rozsahu nebude braný ako porušenie povinností Poskytovateľa, vyplývajúcich mu z týchto Podmienok.</li>
            <li>Vyňaté z povinnosti poskytovať službu budú (i) všetky udalosti nezapríčinené pochybením Poskytovateľa, (ii) nevyhnutné úpravy služby na strane Poskytovateľa nepresahujúce 47 hodín, (iii) aktualizácie služby vykonávané Poskytovateľom nepresahujúce 47 hodín, (iv) výpadky na strane Používateľa alebo spôsobené Používateľom, (v) okolnosti vylučujúce zodpovednosť definované v článku 9. týchto Podmienok, (vi) nedostupnosť alebo iné prekážky na strane Správcu modulu elektronických schránok. V prípade zistenia akéhokoľvek výpadku, je Používateľ povinný o tomto bezodkladne informovať Poskytovateľa zaslaním emailu na emailovú adresu uvedenú na webovom sídle Poskytovateľa, ako aj poskytnúť mu potrebnú súčinnosť pri oprave výpadku.</li>
            <li>V prípade akýchkoľvek pochybností o tom, či sú správy preposielané skutočne Používateľovi a/alebo oprávnenej osobe Používateľa a/alebo v prípade akýchkoľvek pochybností o legitimite zmeny vykonanej po zadaní hesla prostredníctvom na to určenej funkcie webového sídla Poskytovateľa, si Poskytovateľ môže vyžiadať od Používateľa, resp. jeho Štatutára preukázanie oprávnenia konať za Používateľa, s určením lehoty, v ktorej je Používateľ povinný preukázať osoby oprávnené konať za Používateľa. V prípade, že Používateľ v tejto lehote nepreukáže osoby oprávnené za neho konať, je Poskytovateľ oprávnený podľa svojho uváženia prerušiť poskytovanie služieb GovBox, alebo okamžite odstúpiť od Zmluvy.</li>
            <li>Ak Poskytovateľ rozhodne o prerušení poskytovania služby podľa bodu 5.15. alebo odstúpení od Zmluvy z dôvodov podľa predchádzajúceho bodu, Poskytovateľ nie je povinný poskytovať službu a nie je zodpovedný za akúkoľvek škodu, ktorá vznikla, či už priamo alebo nepriamo, ako dôsledok uplatnenia si jeho práva pozastaviť poskytovanie služby alebo odstúpiť od zmluvy. Používateľ berie na vedomie, že momentom oznámenia Používateľovi o pozastavení poskytovania služby a/alebo odstúpení od Zmluvy je Používateľ samostatne zodpovedný za nahliadanie do svojej elektronickej schránky.</li>
            <li>Na základe týchto Podmienok Služby Slovensko.Digital s.r.o. neudeľuje súhlas na použitie (i) obchodných mien a iných názvov právnických osôb, (ii) ochranných známok alebo (iii) iných označení využívaných Služby Slovensko.Digital s.r.o. s výnimkou, ak to vyžaduje ich primerané a obvyklé použitie pri označení pôvodcu služby.</li>
          </ol>
        </li>
        <li><strong>Odmena za poskytnutú službu</strong>
          <ol>
            <li>Používateľ je povinný Poskytovateľovi zaplatiť pri zriadení služby jednorazový Aktivačný poplatok.</li>
            <li>Výška poplatku za službu (odmeny) ako aj Aktivačného poplatku je uvedená v platnom Cenníku služby GovBox zverejnenom na webovom sídle Poskytovateľa, ktorý predstavuje neoddeliteľnú súčasť Zmluvy medzi Služby Slovensko.Digital s.r.o. a Používateľom týkajúcej sa služby GovBox (ďalej len „Cenník“).</li>
            <li>Používateľ je povinný hradiť poplatky za službu určené podľa Cenníka od prvého dňa mesiaca nasledujúceho po mesiaci, v ktorom Poskytovateľ informoval Používateľa o zriadení prístupu Poskytovateľovi Správcom modulu elektronických schránok do elektronickej schránky Používateľa.</li>
            <li>Používateľ je povinný uhradiť poplatky za službu ako aj Aktivačný poplatok v lehote splatnosti určenej faktúrou a spôsobom určeným Poskytovateľom, a to buď prevodom na bankový účet uvedený vo faktúre alebo – pokiaľ takú možnosť Poskytovateľ sprístupní – prostredníctvom platobnej brány dostupnej na webovom sídle Poskytovateľa.  Faktúru doručí Poskytovateľ Používateľovi elektronicky na e-mailovú adresu Používateľa.</li>
            <li>O pripísaní poplatku za službu a/alebo Aktivačného poplatku na účet Poskytovateľa informuje Poskytovateľ Používateľa prostredníctvom emailu zaslaného na emailovú adresu Používateľa.</li>
            <li>V prípade, ak sa Používateľ dostane do omeškania s úhradou poplatkov za službu a/alebo Aktivačného poplatku a/alebo počet preposielaných elektronických správ prekročí o viac ako 10% poslednú kategóriu počtu preposielaných elektronických správ mesačne uvedenú v Cenníku za ktorú je stanovená paušálna odmena, je Poskytovateľ oprávnený pozastaviť poskytovanie služby Používateľovi. V prípade omeškania sa s úhradou poplatku za službu o viac ako tridsať (30) dní je Poskytovateľ oprávnený od zmluvného vzťahu s Používateľom odstúpiť oznámením zaslaným na emailovú adresu Používateľa. V tomto prípade sa uplatňuje bod 5.16 týchto Podmienok.</li>
            <li>Poplatky za službu sa platia súhrne za ten ktorý štvrťrok, a to po skončení príslušného kalendárneho štvrťroku na základe faktúry vystavenej Poskytovateľom do piatich (5) dní od skončenia príslušného štvrťroku. Faktúru doručí Poskytovateľ Používateľovi elektronicky na emailovú adresu Používateľa.</li>
            <li>Používateľ je povinný uhradiť Poskytovateľovi úrok z omeškania vo výške 0,02 % z dlžnej sumy za každý deň omeškania s úhradou faktúry.</li>
          </ol>
        </li>
        <li><strong>Vypovedanie Zmluvy a odstúpenie od Zmluvy</strong>
          <ol>
            <li>Zmluvu je možné ukončiť vzájomnou dohodou zmluvných strán.</li>
            <li>V záujme odstránenia akejkoľvek pochybnosti, povinnosti Poskytovateľa zanikajú najneskôr zrušením elektronickej schránky Používateľa.</li>
            <li>Poskytovateľ a/alebo Používateľ je oprávnený vypovedať Zmluvu bez udania dôvodu, s výpovednou lehotou jedného mesiaca, ktorá začína plynúť dňom nasledujúcim po dni v ktorom bola výpoveď doručená druhej strane.</li>
            <li>V prípade, že Správca modulu elektronických schránok z akéhokoľvek dôvodu zruší Poskytovateľovi prístup do elektronickej schránky Používateľa, je Poskytovateľ oprávnený okamžite vypovedať Zmluvu, a to zaslaním výpovede na emailovú adresu Používateľa.</li>
            <li>Poskytovateľ je oprávnený okamžite odstúpiť od zmluvy:
              <ol>
                <li>Ak sa Používateľ stane podľa uváženia Poskytovateľa nekontaktným a/alebo nedôveryhodným.</li>
                <li>V prípade ak Používateľ poruší/koná v rozpore s ustanoveniami bodu 4.3, 5.15 a 6.1 týchto Podmienok</li>
              </ol>
              Odchylne od § 351 odst. 2 Obchodného zákonníka si strany zjednávajú, že už poskytnuté plnenia sa nevracajú.
            </li>
          </ol>

        <li><strong>Zodpovednosť</strong>
          <ol>
            <li>Náhrada škody zo strany Poskytovateľa za škody akéhokoľvek druhu spôsobené Používateľovi používaním služby GovBox (poškodenie dobrého mena, zastavenie prác, ušlý zisk, strata údajov, strata obchodnej príležitosti alebo akákoľvek iná škoda obchodnej povahy) je obmedzená sumou 5.000,- Eur.</li>
          </ol>
        </li>

        <li><strong>Okolnosti vylučujúce zodpovednosť</strong>
          <ol>
            <li>Za okolnosti vylučujúce zodpovednosť sa považuje taká prekážka, ktorá nastala nezávisle od vôle Poskytovateľa alebo Používateľa a ktorá im bráni v splnení ich povinnosti, ak nemožno rozumne predpokladať, že by povinná strana túto prekážku alebo jej následky odvrátila alebo prekonala a že by v čase vzniku svojej povinnosti túto prekážku predvídala.</li>
            <li>Za okolnosti vylučujúce zodpovednosť na strane Poskytovateľa sa považujú vždy:
              <ol>
                <li>dlhodobý výpadok elektrickej energie v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa;</li>
                <li>živelná pohroma v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa;</li>
                <li>softvérové poškodenie systému a infraštruktúry Poskytovateľa, vrátane neznámych agresívnych vírusov;</li>
                <li>napadnutie infraštruktúry Poskytovateľa zo strany tretích osôb, ktoré má za následok ich nefunkčnosť alebo obmedzenie riadnej funkčnosti služby;</li>
                <li>neposkytnutie požadovanej súčinnosti zo strany Používateľa.</li>
              </ol>
            </li>
          </ol>
        </li>

        <li><strong>Rozhodné právo a dohoda o právomoci súdov</strong>
          <ol>
            <li>Zmluvný vzťah založený medzi Služby Slovensko.Digital s.r.o. a Používateľom v súvislosti s týmito podmienkami použitia sa spravuje slovenským právom bez prihliadnutia na kolízne normy, pričom práva a povinnosti strán bližšie neupravené zmluvnými dojednaniami sa spravujú ustanoveniami Obchodného zákonníka.</li>
            <li>Spory vyplývajúce alebo súvisiace s týmito Podmienkami budú prejednávať príslušné súdy Slovenskej republiky.</li>
          </ol>

        <li><strong>Prechodné a záverečné ustanovenia</strong>
          <ol>

            <li>Tieto Podmienky používania nadobúdajú účinnosť okamihom ich zverejnenia na webovom sídle <%= link_to 'https://ekosystem.slovensko.digital/sluzby/govbox/vseobecne-obchodne-podmienky' %> pokiaľ ďalej nie je uvedené inak.</li>
            <li>V prípade, ak sa akékoľvek ustanovenie týchto Podmienok a/alebo Zmluvy stane v akomkoľvek ohľade neplatným, nezákonným alebo nevymáhateľným, nebude tým žiadnym spôsobom dotknutá, alebo porušená platnosť, zákonnosť alebo vymáhateľnosť ostatných ustanovení týchto Podmienok a/alebo Zmluvy.</li>
            <li>Služby Slovensko.Digital s.r.o. je oprávnené tieto Podmienky jednostranne zmeniť, pričom o akejkoľvek zmene v ich obsahu upovedomí Používateľa 14 dní pred jej účinnosťou zverejnením nového znenia Podmienok na webovom sídle Služby Slovensko.Digital s.r.o. V prípade, ak Používateľ písomne oznámi Služby Slovensko.Digital s.r.o. svoj nesúhlas so zmenou Podmienok pred nadobudnutím účinnosti zmeny, má súčasne právo zmluvný vzťah založený na základe týchto Podmienok a Zmluvy s okamžitou účinnosťou vypovedať. Ustanovenia tohto bodu sa primerane vzťahujú aj na zmenu Cenníka podľa bodu 6.2. týchto Podmienok.</li>
            <li>Znenie týchto Podmienok nadobúdajú platnosť a účinnosť dňom 1.8.2017 a nahrádzajú sa nimi Podmienky účinné pred týmto dňom. Úprava týchto Podmienok je záväzná aj pre Zmluvy uzavreté pred 1.8.2017, pričom vo vzťahu k týmto Zmluvám sa stane zmena Podmienok účinná 15. deň po jej zverejnení na webovom sídle Poskytovateľa, ktoré nastalo 1.8.2017.</li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <%= render 'old_terms_versions_list' %>
    </div>
  </div>
</div>
</div>