<h4>Získanie podaní obchodného vestníka v neštrukturovanej forme</h4>
<p class="docs-endpoint"><code>GET <%= api_data_ov_raw_issue_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor podania OV</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'ov.raw_issues'), class: 'btn btn-default btn-sm' %></p>
<pre><code class="language-json">{
  "id":1589,
  "file_name":"R125479-OV_OZNAMENIE_ZACATIE_KONANIA_O_ZRUS_BEZ_LIKV-v-1.xml",
  "content":"﻿\u003c?xml version=\"1.0\" encoding=\"utf-8\"?\u003e\r\n\u003cKonkurzARestrukt xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\u003e\r\n  \u003cID\u003e742803\u003c/ID\u003e\r\n  \u003cAutor\u003e\r\n    \u003cSud\u003eOkresný súd Košice I\u003c/Sud\u003e\r\n    \u003cSpisovaZnacka\u003e33CbR/113/2015\u003c/SpisovaZnacka\u003e\r\n    \u003cICS\u003e7115234093\u003c/ICS\u003e\r\n    \u003cVydal\u003eJUDr. Ivana Vargová\u003c/Vydal\u003e\r\n    \u003cVydalFN\u003evyššia súdna úradníčka\u003c/VydalFN\u003e\r\n    \u003cOdoslal\u003eMgr. Andrea Gubačová\u003c/Odoslal\u003e\r\n  \u003c/Autor\u003e\r\n  \u003cDatumVydania\u003e30.6.2016\u003c/DatumVydania\u003e\r\n  \u003cDlznik\u003e\r\n    \u003cNazov /\u003e\r\n    \u003cICO /\u003e\r\n    \u003cUlica /\u003e\r\n    \u003cCisloUl /\u003e\r\n    \u003cObec /\u003e\r\n    \u003cPsc /\u003e\r\n    \u003cStat /\u003e\r\n  \u003c/Dlznik\u003e\r\n  \u003cNavrhovatelia\u003e\r\n    \u003cNavrhovatel\u003e\r\n      \u003cNazov\u003eOkresný súd Košice I\u003c/Nazov\u003e\r\n      \u003cICO /\u003e\r\n      \u003cUlica /\u003e\r\n      \u003cCisloUl /\u003e\r\n      \u003cObec /\u003e\r\n      \u003cPsc /\u003e\r\n      \u003cStat\u003eSlovenská republika\u003c/Stat\u003e\r\n    \u003c/Navrhovatel\u003e\r\n  \u003c/Navrhovatelia\u003e\r\n  \u003cSpravcovia /\u003e\r\n  \u003cText\u003e\r\n    \u003cDruh\u003eOznam\u003c/Druh\u003e\r\n    \u003cHlavicka /\u003e\r\n    \u003cRozhodnutie /\u003e\r\n    \u003cPoucenie /\u003e\r\n    \u003cOznam\u003e\r\n     Okresný súd Košice I v právnej veci začatého konania o zrušení obchodnej spoločnosti: REST, spol. s r.o., \r\nso sídlom Štúrova 11, Košice 040 01, IČO: 36 173 932, zapísanej v obchodnom registri Okresného súdu Košice I, \r\nv odd. Sro, vo vložke číslo 9387/V, podľa ust. § 68 ods. 9 zákona č. 513/1991 Zb. Obchodného zákonníka v znení neskorších predpisov zverejňuje oznámenie podľa ust. § 68 ods. 10 zákona č. 513/1991 Zb. Obchodný zákonník \r\nv znení zákona č. 487/2009 Z.z. v Obchodnom vestníku. Rozhodnutie o zrušení spoločnosti bez likvidácie môže súd vydať až po uplynutí šiestich mesiacov od zverejnenia oznámenia podľa ust. § 68 ods. 10 zákona č. 513/1991 Zb. Obchodný zákonník v znení zákona č. 357/2013 Z.z. v Obchodnom vestníku.\u003c/Oznam\u003e\r\n  \u003c/Text\u003e\r\n\u003c/KonkurzARestrukt\u003e",
  "created_at":"2016-07-21T14:26:22.998202Z",
  "updated_at":"2016-07-21T14:26:22.998202Z",
  "bulletin_issue":{
    "id":1386,
    "year":2016,
    "number":140,
    "published_at":"2016-07-21T00:00:00.000000Z",
    "created_at":"2016-07-21T14:24:42.506537Z",
    "updated_at":"2016-07-21T14:24:42.506537Z"
  }
}
</code></pre>
<h4>Získanie zmenených podaní obchodného vestníka</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_ov_raw_issues_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>