<h4>Získanie údajov o účtovnej jednotke</h4>
<p class="docs-endpoint"><code>GET <%= api_data_ruz_accounting_entity_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor účtovnej jednotky</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'ruz.accounting_entities'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id":108,
  "cin":312045,
  "tin":2021080006,
  "sid":null,
  "corporate_body_name":"Obec Trenčianska Teplá",
  "city":"Trenčianska Teplá",
  "street":"M.R. Štefánika 376/30",
  "postal_code":"91401",
  "region_id":3,
  "district_id":309,
  "municipality_id":506559,
  "last_updated_on":"2016-06-08",
  "established_on":"1973-07-01",
  "terminated_on":null,
  "legal_form_id":801,
  "sk_nace_category_id":84110,
  "organization_size_id":12,
  "ownership_type_id":5,
  "consolidated":true,
  "data_source":"ŠÚSR",
  "created_at":"2016-07-21T08:50:10.917061Z",
  "updated_at":"2016-07-21T08:50:10.917061Z",
  "deleted":false,
  "region":{
    "id":3,
    "name_sk":"Trenčiansky kraj",
    "name_en":"Region of Trenčín",
    "created_at":"2016-07-21T08:47:15.736393Z",
    "updated_at":"2016-07-21T08:47:15.736393Z"
  },
  "district":{
    "id":309,
    "region_id":3,
    "name_sk":"Trenčín",
    "name_en":"Trenčín",
    "created_at":"2016-07-21T08:47:15.900468Z",
    "updated_at":"2016-07-21T08:47:15.900468Z"
  },
  "municipality":{
    "id":506559,
    "parent_id":33,
    "name_sk":"Trenčianska Teplá",
    "name_en":"Trenčianska Teplá",
    "created_at":"2016-07-21T08:47:18.281887Z",
    "updated_at":"2016-07-21T08:47:18.281887Z"
  },
  "legal_form":{
    "id":801,
    "name_sk":"Obec, mesto (o.,m.úrad)",
    "name_en":"Municipality",
    "created_at":"2016-07-21T08:47:26.989085Z",
    "updated_at":"2016-07-21T08:47:26.989085Z"
  },
  "sk_nace_category":{
    "id":84110,
    "name_sk":"Všeobecná verejná správa",
    "name_en":"General publ.admin.act.",
    "created_at":"2016-07-21T08:47:26.316461Z",
    "updated_at":"2016-07-21T08:47:26.316461Z"
  },
  "organization_size":{
    "id":12,
    "name_sk":"50-99 zamestnancov",
    "name_en":"50-99 employees",
    "created_at":"2016-07-21T08:47:26.643156Z",
    "updated_at":"2016-07-21T08:47:26.643156Z"
  },
  "ownership_type":{
    "id":5,
    "name_sk":"Vlast.územnej samosprávy",
    "name_en":"Municipality-owned",
    "created_at":"2016-07-21T08:47:26.554326Z",
    "updated_at":"2016-07-21T08:47:26.554326Z"
  }
}
</code></pre>
<h4>Získanie zmenených účtovných jednotiek</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_ruz_accounting_entities_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
