<h4>Získanie účtovnej jednotky</h4>
<p class="docs-endpoint"><code>GET <%= api_data_ruz_accounting_entity_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor účtovnej jednotky</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'ruz.accounting_entities'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id": 108,
  "cin": 312045,
  "tin": 2021080006,
  "corporate_body_name": "Obec Trenčianska Teplá",
  "city": "Trenčianska Teplá",
  "street": "M. R. Štefánika 376/30",
  "postal_code": "91401",
  "last_updated_on": "2019-12-20",
  "established_on": "1973-07-01",
  "consolidated": true,
  "data_source": "SUSR",
  "created_at": "2016-05-17T21:45:50.246216Z",
  "updated_at": "2019-12-21T02:00:22.816495Z",
  "deleted": false,
  "terminated_on": null,
  "sid": null,
  "region": {
    "id": 3,
    "name_sk": "Trenčiansky kraj",
    "name_en": "Region of Trenčín",
    "created_at": "2016-05-17T20:36:35.218871Z",
    "updated_at": "2020-05-10T17:09:13.820011Z",
    "code": "SK022"
  },
  "district": {
    "id": 309,
    "region_id": 3,
    "name_sk": "Trenčín",
    "name_en": "Trenčín",
    "created_at": "2016-05-17T20:36:35.379540Z",
    "updated_at": "2020-05-10T17:09:13.980275Z",
    "code": "SK0229"
  },
  "municipality": {
    "id": 506559,
    "district_id": 309,
    "name_sk": "Trenčianska Teplá",
    "name_en": "Trenčianska Teplá",
    "created_at": "2016-05-17T20:36:37.830897Z",
    "updated_at": "2020-05-10T17:09:15.900675Z",
    "code": "SK0229506559"
  },
  "legal_form": {
    "id": 801,
    "name_sk": "Obec, mesto (o.,m.úrad)",
    "name_en": "Municipality",
    "created_at": "2016-05-17T20:36:49.040577Z",
    "updated_at": "2016-05-17T20:36:49.040577Z"
  },
  "sk_nace_category": {
    "id": 84110,
    "name_sk": "Všeobecná verejná správa",
    "name_en": "General publ.admin.act.",
    "created_at": "2016-05-17T20:36:48.188347Z",
    "updated_at": "2016-05-17T20:36:48.188347Z"
  },
  "organization_size": {
    "id": 11,
    "name_sk": "25-49 zamestnancov",
    "name_en": "25-49 employees",
    "created_at": "2016-05-17T20:36:48.616893Z",
    "updated_at": "2016-05-17T20:36:48.616893Z"
  },
  "ownership_type": {
    "id": 5,
    "name_sk": "Vlast.územnej samosprávy",
    "name_en": "Municipality-owned",
    "created_at": "2016-05-17T20:36:48.528839Z",
    "updated_at": "2016-05-17T20:36:48.528839Z"
  }
}</code></pre>
<h4>Získanie zmenených účtovných jednotiek</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_ruz_accounting_entities_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
