<h4>Získanie zoznamu dlžníkov</h4>
<p class="docs-endpoint"><code>GET <%= api_data_socpoist_debts_list_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor zoznamu</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'socpoist.debts_lists'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id":4,
  "published_on":"2014-01-29",
  "created_at":"2016-12-03T13:19:13.325555Z",
  "updated_at":"2016-12-03T13:19:13.325555Z"
}
</code></pre>
<h4>Získanie zmenených zoznamov dlžníkov</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_socpoist_debts_lists_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
