<h4>Získanie údajov dlžníka</h4>
<p class="docs-endpoint"><code>GET <%= api_data_socpoist_debtor_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor dlžníka</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'socpoist.debtors'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id": 101619,
  "name": " X S E D A N s.r.o. Trebišov",
  "address": "Jazerná 1",
  "city": "Košice Nad jazerom",
  "created_at": "2016-10-03T16:49:20.431831Z",
  "updated_at": "2016-10-03T16:49:20.431831Z",
  "debt_ranges": [
    {
      "id": 1,
      "effective_from": "2016-09-27",
      "effective_to": null,
      "amount": "785.98",
      "created_at": "2016-10-03T17:00:51.308069Z",
      "updated_at": "2016-10-03T17:00:51.308069Z"
    }
  ]
}
</code></pre>
<h4>Získanie zmenených dlžníkov </h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_socpoist_debtors_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
