<h4>Získanie údajov o dlžke ukončených dlhov</h4>
<p class="docs-endpoint"><code>GET <%= api_data_socpoist_debt_ranges_url(id: ':id', host: api_host) %></code></p>
<h5>Parametre</h5>
<table class="table table-bordered table-nonfluid">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Typ</th>
    <th>Popis</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>id</code></td>
    <td><code>integer</code></td>
    <td>Identifikátor dlhu</td>
  </tr>
  </tbody>
</table>
<h5>Odpoveď</h5>
<p><%= link_to 'Popis atribútov', open_data_path(anchor: 'socpoist.debt_ranges'), class: 'btn btn-default btn-sm' %></p>
<pre class="pre-scrollable"><code class="language-json">{
  "id":125,
  "debtor_id":392,
  "effective_from":"2016-09-27",
  "effective_to":"2016-09-30",
  "amount":"852.75",
  "created_at":"2016-10-03T17:01:11.841108Z",
  "updated_at":"2016-10-03T17:01:11.841108Z",
  "debtor":{
    "id":392,
    "name":"Jozef Mrkvička",
    "address":"Levická cesta 4",
    "city":"Levice",
    "created_at":"2016-10-03T16:49:33.507801Z",
    "updated_at":"2016-10-03T16:49:33.507801Z"}
  }
</code></pre>
<h4>Získanie ukončených dlhov</h4>
<p class="docs-endpoint"><code>GET <%= sync_api_data_socpoist_debt_ranges_url(host: api_host) %></code></p>
<p>Zmenené záznamy od určeného času je možné získať pomocou <%= link_to 'synchronizačného API', '#sync-api' %>. </p>
