<div><strong>Staršie verzie cenníka</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platný od 01.10.2019 do 30.06.2023', pricing_v2_path %></li>
  <li><%= link_to 'platný od 01.05.2018 do 30.09.2019', pricing_v1_path %></li>
</ul>
