<div class="container">
  <h1><strong>Podmienky používania datasetov</strong></h1>
  <p>Platné od 1.5.2018</p>
  <div class="anchors long-text">
    <br>
    <div class="alert alert-warning">
      <strong>Upozornenie: </strong> Táto verzia podmienok je stará a bola nahradená <%= link_to 'novým znením', datasets_terms_path %>.
    </div>

    <h2>Podmienky používania datasetov dostupných na webovom sídle používanom Službami Slovensko.Digital</h2>
    <div class="list-legal">
      <ol>
        <li>
          <strong>Predmet úpravy</strong>
          <ol>
            <li>Tieto podmienky používania upravujú práva a povinnosti Služieb Slovensko.Digital a používateľa v súvislosti s datasetmi dostupnými na webovom sídle používanom Službami Slovensko.Digital (ďalej len <em>„podmienky používania“</em>).</li>
            <li>Akékoľvek použitie datasetov v rozpore s týmito podmienkami používania sa zakazuje.</li>
          </ol>
        </li>
        <li>
          <strong>Definície pojmov</strong>
          <ol>
            <li>Pojmy uvedené v tomto bode budú mať pre účely týchto podmienok používania nasledujúci význam:
              <ol>
                <li><em>„Autorský zákon“</em>: zákon č. 185/2015 Z.z. Autorský zákon,</li>
                <li><em>„dataset“</em>: databáza pozostávajúca z údajov uvedených v týchto podmienkach používania rozširovaná a/alebo poskytovaná zo strany Služieb Slovensko.Digital a dostupná v strojovo čitateľnom formáte na webovom sídle používanom Službami Slovensko.Digital, pričom datasetom sú jednotlivé pôvodné databázy obsahujúce údaje uvedené v bode 2.1.3., ako aj akékoľvek nové databázy vytvorené Službami Slovensko.Digital, ktoré obsahujú údaje uvedené v bode 2.1.3.;</li>
                <li><em>„údaje“</em>:
                  <ol>
                    <li>údaje Registra účtovných závierok <br> pôvodný zdroj:
                      <a href="http://www.registeruz.sk/cruz-public/home/api">http://www.registeruz.sk/cruz-public/home/api</a>
                    </li>
                    <li>údaje Obchodného Vestníka <br> pôvodný zdroj:
                      <a href="https://www.justice.gov.sk/ObchodnyVestnik/Stranky/Strukturovane-udaje.aspx">https://www.justice.gov.sk/ObchodnyVestnik/Stranky/Strukturovane-udaje.aspx</a>
                    </li>
                    <li>údaje Zoznamu daňových subjektov registrovaných pre DPH <br> pôvodný zdroj:
                      <a href="https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zoznamy/exporty-z-online-informacnych">https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zoznamy/exporty-z-online-informacnych </a>
                    </li>
                    <li>údaje Vestníku Verejného obstarávania <br> pôvodný zdroj:
                      <a href="https://data.gov.sk/dataset/dc154ceb-a68f-4fb6-a357-b47001f4c23f">https://data.gov.sk/dataset/dc154ceb-a68f-4fb6-a357-b47001f4c23f</a>
                    </li>
                    <li>údaje Centrálneho registra zmlúv <br> pôvodný zdroj:
                      <a href="http://www.crz.gov.sk/index.php?ID=2283790">http://www.crz.gov.sk/index.php?ID=2283790</a>
                    </li>
                    <li>údaje Registra právnických osôb <br> pôvodný zdroj:
                      <a href="https://rpo.statistics.sk/rpo/#login">https://rpo.statistics.sk/rpo/</a>
                    </li>
                    <li>údaje dlžníkov Všeobecnej zdravotnej poisťovne <br> pôvodný zdroj:
                      <a href="https://www.vszp.sk/platitelia/platenie-poistneho/zoznam-dlznikov.html">https://www.vszp.sk/platitelia/platenie-poistneho/zoznam-dlznikov.html</a>
                    </li>
                    <li>údaje dlžníkov Sociálnej poisťovne <br> pôvodný zdroj:
                      <a href="http://www.socpoist.sk/zoznam-dlznikov-emw/487s">http://www.socpoist.sk/zoznam-dlznikov-emw/487s</a>
                    </li>
                    <li>údaje Zoznamu inštitúcií so zriadenou elektronickou schránkou <br> pôvodný zdroj:
                      <a href="https://data.gov.sk/dataset/upvs-institucie-so-schrankou">https://data.gov.sk/dataset/upvs-institucie-so-schrankou</a>
                    </li>
                  </ol>
                </li>
                <li><em>„odvodený produkt“</em>: akýkoľvek výsledok činnosti používateľa (aplikácia, dataset a pod.), ktorý je (i) založený na datasetoch, (ii) používa/obsahujuje údaje z datasetov  alebo (iii) je založený na úpravách datasetov;</li>
                <li><em>„Služby Slovensko.Digital“</em>: spoločnosť Služby Slovensko.Digital, s.r.o., so sídlom Staré Grunty 18, 841 04 Bratislava, IČO: 50 881 337, spoločnosť zapísaná v Obchodnom registri Okresného súdu Bratislava I, oddiel Sro, vložka č.: 119763/B;</li>
                <li><em>„používateľ“</em>: fyzická osoba alebo právnická osoba, ktorá akýmkoľvek spôsobom používa datasety;</li>
                <li><em>„rozširovanie“</em>: predaj, odovzdanie, vypožičanie, nájom, poskytnutie, prenos alebo iné sprístupnenie rozmnoženiny datasetu, v režime on-line alebo offline, alebo akékoľvek iné poskytnutia prístupu k datasetu, či jeho rozmnoženine;</li>
                <li><em>„extrakcia“</em> je trvalé alebo dočasné vyhotovenie rozmnoženiny databázy prenesením celého obsahu databázy alebo jej podstatnej časti na iný nosič akýmkoľvek prostriedkom v akejkoľvek forme;</li>
                <li><em>„reutilizácia“</em> je akýkoľvek spôsob uvedenia celého obsahu databázy alebo jej podstatnej časti na verejnosti vrátane rozširovania jej rozmnoženín prevodom vlastníckeho práva a nájmom.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>Súhlas na použitie datasetov</strong>
          <ol>
            <li>Datasety sú databázami v zmysle § 130 ods. 1 Autorského zákona.</li>
            <li>Služby Slovensko.Digital udeľujú na základe týchto podmienok používania používateľovi súhlas na extrakciu a reutilizáciu datasetov. Súhlas udelený podľa tohto bodu je bezodplatný, nevýhradný a je udelený bez teritoriálnych a časových obmedzení.</li>
            <li>Súhlas podľa bodu 3.2. sa nevzťahuje na súčasti databázy, ktoré sú chránené inými právami, ak tieto podmienky používania neuvádzajú iné.</li>
          </ol>
        </li>
        <li>
          <strong>Povinnosti nadobúdateľa</strong>
          <ol>
            <li>Nadobúdateľ licencie sa zdrží akýchkoľvek zásahov, zmien a úprav obsahu údajov, z ktorých dataset pozostáva. Za zmenu obsahu v zmysle predchádzajúcej vety sa nepovažuje oprava nesprávností a neaktuálnosti údajov, prepojenie údajov s inými údajmi, ani doplnenie ďalších údajov v prípade, že pôvodné údaje ostanú zachované a zodpovedajúcim spôsobom označené.</li>
            <li>Nadobúdateľ licencie berie na vedomie, že údaje, z ktorých datasety pozostávajú, majú len informatívny charakter a nie sú právne záväzné.</li>
            <li>Používateľ sa zaväzuje ponechať nedotknuté všetky doložky o autorských právach, patentoch alebo ochranných známkach a všetky doložky, ktoré sa vzťahujú na podmienky používania a vylúčenie záruky, pričom je povinný ku každej rozširovanej rozmnoženine datasetov a/alebo ku každému odvodenému produktu pripojiť kópiu týchto doložiek, ako aj týchto podmienok používania. V prípade odvodených produktov je používateľ vždy povinný uviesť, že prišlo k úpravám a uviesť dátum úpravy.</li>
            <li>Používateľ berie na vedomie, že vykonávateľom práv k Vestníku verejného obstarávania je Úrad pre verejné obstarávanie, ktorý k Vestníku verejného obstarávania udelil licenciu Creative Commons Attribution. Celý text licencie je dostupný tu: https://creativecommons.org/licenses/by/4.0/legalcode Používateľ je povinný zohľadniť podmienky tejto licencie pri udeľovaní akýchkoľvek práv k ním vytvorenému odvodenému produktu, pričom je oprávnený nakladať s údajmi a s obsahom Vestníka verejného obstarávania v rozsahu a za podmienok vyplývajúcich z tejto licencie.</li>
            <li>Používateľ berie na vedomie, že vykonávateľom práv k RPO je Štatistický úrad, ktorý k RPO udelil licenciu Creative Commons Attribution. Celý text licencie je dostupný tu: https://creativecommons.org/licenses/by/4.0/legalcode Používateľ je povinný zohľadniť podmienky tejto licencie pri udeľovaní akýchkoľvek práv k ním vytvorenému odvodenému produktu, pričom je oprávnený nakladať s údajmi a s obsahom RPO v rozsahu a za podmienok vyplývajúcich z tejto licencie.</li>
            <li>Používateľ berie na vedomie, že vykonávateľom práv k Zoznamu inštitúcií so zriadenou elektronickou schránkou je Národná agentúra pre sieťové a elektronické služby, ktorá k údajom udelila licenciu Creative Commons Zero. Celý text licencie je dostupný tu: http://opendefinition.org/licenses/cc-zero/ Používateľ je povinný zohľadniť podmienky tejto licencie pri udeľovaní akýchkoľvek práv k ním vytvorenému odvodenému produktu, pričom je oprávnený nakladať s údajmi a s obsahom zoznamu v rozsahu a za podmienok vyplývajúcich z tejto licencie.</li>
            <li>Používateľ môže vo vzťahu k odvodeným produktom uviesť vlastnú doložku autorstva/pôvodcovstva, ako aj realizovať vlastnú politiku licencovania, t.j. uviesť ďalšie alebo iné licenčné podmienky a podmienky použitia odvodeného produktu, to všetko za predpokladu, že použitie a rozširovanie datasetov bude v&nbsp;súlade s týmito podmienkami používania.</li>
            <li>Na základe týchto podmienok používania Služby Slovensko.Digital neudeľujú súhlas na použitie (i) obchodných mien a iných názvov právnických osôb, (ii) ochranných známok alebo (iii) iných označení využívaných Službami Slovensko.Digital s výnimkou, ak to vyžaduje ich primerané a obvyklé použitie pri opise pôvodu datasetov a reprodukovaní obsahu doložky o právach.</li>
            <li>Používateľ je povinný pri každom rozširovaní datasetov a odvodených produktov uviesť ako zdroj údajov (i) Služby Slovensko.Digital, (ii) Register účtovných závierok, (iii) Obchodný vestník, (iv) Zoznam daňových subjektov registrovaných pre DPH, (v) Úrad pre verejné obstarávanie, (vi) Centrálny register zmlúv, (viii) Register právnických osôb, (ix) Zoznamy dlžníkov, Sociálna poisťovňa (x) Zoznamy dlžníkov, Všeobecná zdravotná poisťovňa, (xi) Zoznam inštitúcií so zriadenou elektronickou schránkou, Národná agentúra pre sieťové a elektronické služby.</li>
          </ol>
        </li>
        <li>
          <strong>Autorské práva</strong>
          <ol>
            <li>V rozsahu, v ktorom sa jedná o nové datasety Služieb Slovensko.Digital a za predpokladu, že sa v prípade týchto databáz jedná o autorské diela, udeľujú Služby Slovensko.Digital používateľovi aj súhlas na ich použitie všetkými v čase ich používania známymi spôsobmi používania autorských diel, najmä na (i) spracovanie diela, (ii) spojenie diela s iným dielom, (iii) zaradenie diela do databázy, (iv) vyhotovenie rozmnoženiny diela, (v) verejné rozširovanie originálu diela alebo rozmnoženiny diela akýmkoľvek spôsobom, (vi) uvedenie diela na verejnosti, verejným vystavením originálu diela alebo rozmnoženiny diela, verejným vykonaním diela alebo verejným prenosom diela.</li>
            <li>Súhlas na použitie podľa bodu 5.2. je bezodplatný, nevýhradný a je udelený bez teritoriálnych obmedzení po dobu trvania práv k týmto autorským dielam. Služby Slovensko.Digital týmto udeľujú používateľovi súhlas s udelením sublicencie k týmto dielam za predpokladu, že udelená sublicencia bude jej nadobúdateľa zaväzovať v identickom rozsahu a identickým spôsobom, ako zaväzujú tieto podmienky používania používateľa.</li>
          </ol>
        </li>
        <li>
          <strong>Vylúčenie záruky</strong>
          <ol>
            <li>Každý dataset sa podľa tejto licencie poskytuje „ako stojí a leží” a bez akýchkoľvek záruk. Používateľ výslovne súhlasí s tým, že Služby Slovensko.Digital nezodpovedajú (i) za kvalitu údajov a jednotlivých datasetov a ich možné využitie na obchodné účely, (ii) za ich vhodnosť na konkrétny účel, najmä za ich vhodnosť na účely vytvárania odvodených produktov, (iii) za neexistenciu vád a chýb, (iv) za presnosť a aktuálnosť údajov a (v) za to, že ich používaním nadobúdateľ nezasiahne do práv duševného vlastníctva tretích osôb s výnimkou tých predmetov duševného vlastníctva, ku ktorým udelili Služby Slovensko.Digital súhlas na ich použitie na základe týchto podmienok používania.</li>
            <li>Vylúčenie záruky za podmienok uvedených v bode 6.1. je podstatnou súčasťou podmienok používania a podmienkou pre udelenie akýchkoľvek práv k datasetom.</li>
          </ol>
        </li>
        <li>
          <strong>Obmedzenie zodpovednosti za škodu</strong>
          <ol>
            <li>Služby Slovensko.Digital nezodpovedajú za žiadne priame alebo nepriame, materiálne alebo morálne škody akéhokoľvek druhu, ktoré vyplývajú z používania datasetov, najmä za poškodenie dobrého mena, zastavenie prác, zlyhanie alebo nesprávne fungovanie počítača, stratu údajov alebo akúkoľvek inú škodu obchodnej povahy.</li>
          </ol>
        </li>
        <li>
          <strong>Prijatie týchto podmienok používania</strong>
          <ol>
            <li>Tieto podmienky používania od okamihu ich účinnosti predstavujú návrh Služieb Slovensko.Digital na uzavretie zmluvy, pričom ich prijatie sa uskutočňuje akceptačným úkonom, na základe ktorého si používateľ na webovom sídle používanom Službami Slovensko.Digital zobrazí a/alebo si z webového sídla používaného Službami Slovensko.Digital stiahne jeden či viacero datasetov (ďalej aj „úkon prijatia podmienok“). Úkonom prijatia podmienok vyjadruje používateľ jednoznačné a neodvolateľné prijatie týchto podmienok používania.</li>
          </ol>
        </li>
        <li>
          <strong>Pozastavenie a ukončenie licencií</strong>
          <ol>
            <li>V prípade akéhokoľvek porušenia týchto podmienok používania sa používateľovi pozastavujú všetky práva, ktoré mu z týchto podmienok používania vyplývajú, a to do času, kým porušenie týchto podmienok používania neodstráni.</li>
            <li>V prípade ak používateľ neodstráni porušenie týchto podmienok používania ani do 30 dní, od kedy ho na to Služby Slovensko.Digital vyzvali, sú Služby Slovensko.Digital oprávnené odstúpiť od zmluvného vzťahu, ktorý majú s používateľom uzavretý.</li>
          </ol>
        </li>
        <li>
          <strong>Úplná dohoda</strong>
          <ol>
            <li>Tieto podmienky používania predstavujú úplnú dohodu medzi stranami vo vzťahu k jej predmetu.</li>
            <li>Ak by bolo akékoľvek ustanovenie týchto podmienok používania neplatné alebo nevykonateľné, nemá to vplyv na platnosť a vykonateľnosť podmienok používania ako celku. Takéto ustanovenie sa nahradí dojednaním s identickým účelom, ktoré bude platné a vykonateľné. Ak takéto nahradenie nie je možné, nebude sa na toto ustanovenie prihliadať, a to bez ohľadu na platnosť a vykonateľnosť zostávajúcich dojednaní.</li>
          </ol>
        </li>
        <li>
          <strong>Rozhodné právo a dohoda o právomoci súdov</strong>
          <ol>
            <li>Táto licencia sa spravuje slovenským právom bez prihliadnutia na kolízne normy.</li>
            <li>Spory vyplývajúce alebo súvisiace s týmito podmienkami používania budú prejednávať príslušné súdy Slovenskej republiky.</li>
          </ol>
        </li>
        <li>
          <strong>Záverečné ustanovenia</strong>
          <ol>
            <li>Tieto podmienky používania nadobúdajú účinnosť okamihom ich zverejnenia na webovom sídle Služieb Slovensko.Digital.</li>
            <li>Služby Slovensko.Digital sú oprávnené tieto podmienky používania jednostranne zmeniť, pričom o akejkoľvek zmene v ich obsahu upovedomia používateľa 14 dní pred jej účinnosťou zverejnením nového znenia podmienok používania na webovom sídle používanom Službami Slovensko.Digital. V prípade, ak používateľ písomne oznámi Službám Slovensko.Digital svoj nesúhlas so zmenou podmienok používania pred nadobudnutím účinnosti zmeny, má súčasne právo zmluvný vzťah založený na základe týchto podmienok používania s okamžitou účinnosťou vypovedať.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>
