<div class="container">
  <div class="row legal">
    <div class="col-lg-8">
      <h1><strong>Podmienky používania služieb</strong></h1>
      <p>Platné od 01.04.2022</p>

      <h2>Podmienky používania služieb Ekosystému Slovensko.Digital</h2>

      <div class="list-legal">
        <ol class="mt-5">
          <li>
            <strong>Predmet úpravy</strong>
            <ol>
              <li>Ekosystém Slovensko.Digital je súbor služieb poskytovaných Službami Slovensko.Digital, prostredníctvom ktorého Služby Slovensko.Digital umožňujú prístup k jednotlivým službám, ktoré ponúknú a zároveň prostredníctvom ktorých tieto služby propagujú.</li>
              <li>Tieto obchodné podmienky vydané podľa § 273 zákona č. 513/1991 Zb. Obchodný zákonník v platnom znení upravujú časťobsahu zmluvného vzťahu, na základe ktorého Služby Slovensko.Digital umožňujú Používateľovi využívanie služieb Ekosystému a prípadne mu udeľuje súhlas na použitie Softvérového doplnku a Používateľ sa zaväzuje zaplatiť Službám Slovensko.Digital za využívanie služieb Ekosystému odmenu vo výške a za podmienok stanovených čl. 6 týchto Podmienok používania služieb Ekosystému, ako aj plniť ostatné záväzky vyplývajúce zo zmluvných záväzkov medzi Službami Slovensko.Digital a Používateľom.</li>
            </ol>
          </li>

          <li>
            <strong>Definície pojmov</strong>
            <ol>
              <li><strong>„Autoform“</strong> – služba, ktorá umožňuje automatické vypĺňanie formulára dostupného na internetovej stránke Používateľa z údajov obsiahnutých v databáze prevádzkovanej zo strany Služieb Slovensko.Digital, a to prostredníctvom elektronickej komunikácie medzi softvérovou infraštruktúrou Používateľa a softvérovou infraštruktúrou používanou Službami Slovensko.Digital iniciovanej na základe Requestu a realizovanej prostredníctvom API prevádzkovaného Službami Slovensko.Digital (ďalej len „služba Autoform);</li>
              <li><strong>„Autorský zákon“</strong> – zákon č. 185/2015 Z.z. Autorský zákon;</li>
              <li><strong>„Cenník“</strong> – aktuálny zoznam odmien, náhrad a požiadaviek súvisiacich s Ekosystémom Slovensko.Digital, kotrého aktuálne znenie zverejňuje Poskytovateľ na ním používanom webovom sídle.</li>
              <li><strong>„Datahub“</strong> – služba, ktorá umožňuje prístup k štruktúrovaným dátam vybraných zdrojov a ku konsolidovaným a prepojeným štruktúrovaným dátam a rozhranie pre analytické reporty, a to na základe Requestu iniciovaného na webovom sídle používanom Službami Slovensko.Digital a taktiež prostredníctvom elektronickej komunikácie medzi softvérovou infraštruktúrou Používateľa a softvérovou infraštruktúrou používanou Službami Slovenskom.Digital iniciovanej na základe Requestu a realizovanej prostredníctvom API prevádzkovaného Službami Slovensko.Digital (ďalej len „služba Datahub“);</li>
              <li><strong>„Poskytovateľ“</strong> alebo aj <strong>„Služby Slovensko.Digital“</strong>- spoločnosť Služby Slovensko.Digital, s.r.o., so sídlom Staré grunty 18, 841 04 Bratislava, IČO: 50 881 337, spoločnosť zapísaná v Obchodnom registri Mestského súdu Bratislava III, oddiel: Sro, vložka č. 119763/B;</li>
              <li><strong>„Používateľ“</strong>- (i) osoba, ktorá prevádzkuje systém obsahujúci formulár pre vyplnenie údajov o inej fyzickej alebo právnickej osobe, z ktorého sú zasielané Requesty do služby Autoform a/alebo (ii) osoba, ktorá zasiela Requesty do služby Datahub;</li>
              <li><strong>„Request“</strong> – žiadosť zaslaná do služby Ekosystému za účelom získania odpovede z príslušnej databázy;</li>
              <li><strong>„Služby Ekosystému“</strong> – kumulatívny názov, ktorým sa označujú (i) Služba „Autoform“ a (ii) Služba „Datahub“;</li>
              <li><strong>„Softvérový doplnok“</strong> – počítačový program v podobe zdrojového kódu, ku ktorému majú Služby Slovensko.Digital oprávnené udeliť sublicenciu a je dostupný na webovom sídle používanom Službami Slovensko.Digital.</li>
            </ol>
          </li>
          <li>
            <strong>Práva a povinnosti Služieb Slovensko.Digital a Používateľa pri využívaní služieb Ekosystému</strong>
            <ol>
              <li>
                <strong>Služba Autoform</strong>
                <ol>
                  <li>Webovým sídlom Služby Slovensko.Digital sa pre potreby podmienok používania služby Autoform a súvisiaceho zmluvného vzťahu s Používateľom rozumie: <a href="https://ekosystem.slovensko.digital/sluzby/autoform">https://ekosystem.slovensko.digital/sluzby/autoform</a>.</li>
                  <li>Za účelom prístupu do služby Autoform a po splnení požadovaných podmienok, poskytne Poskytovateľ Používateľovi prístupové údaje.</li>
                  <li>Aby služba Autoform riadne fungovala, musí Používateľ upraviť svoju softvérovú infraštruktúru podľa pokynov uvedených v Integračnom manuáli dostupnom na webovom sídle používanom Službami Slovenskom.Digital (ďalej len „Integračný manuál“), a to buď pomocou Softvérového doplnku alebo iným spôsobom.</li>
                  <li>Za účelom riadneho a optimálneho fungovania služby Autoform, najmä v prípade zmeny parametrov API prevádzkovaných Poskytovateľom alebo v prípade aktualizácie Softvérového doplnku, ak ho Používateľ využíva, je Používateľ povinný zodpovedajúcim spôsobom upraviť svoju softvérovú infraštruktúru. O nutnosti a obsahu úprav môže Poskytovateľ informovať Používateľa a to najmä prostredníctvom webového sídla alebo emailovej správy zaslanej na emailovú adresu oznámenú Používateľom.</li>
                </ol>
              </li>
              <li>
                <strong>Služba Datahub</strong>
                <ol>
                  <li>Webovým sídlom Služieb Slovensko.Digital sa pre potreby podmienok používania služby Datahub a súvisiaceho zmluvného vzťahu s Používateľom rozumie: <a href="https://ekosystem.slovensko.digital/sluzby/datahub">https://ekosystem.slovensko.digital/sluzby/datahub</a></li>
                  <li>Za účelom využívania API rozhrania služby Datahub poskytne Poskytovateľ Používateľovi prístupové údaje.</li>
                  <li>Aby API rozhranie služby Datahub riadne fungovalo, musí Používateľ správne zadať vstupné parametre podľa pokynov uvedených na webovej stránke <a href="https://ekosystem.slovensko.digital/premiove-api">https://ekosystem.slovensko.digital/premiove-api</a>.</li>
                  <li>Počet Requestov do služby Datahub je limitovaný pričom maximálny počet Requestov za minútu je uvedený v aktuálnom Cenníku.</li>
                  <li>Poskytovateľ je oprávnený obmedziť alebo zastaviť poskytovanie služieb Ekosystému ak Používateľ dosiahne maximálny limit Requestov alebo ak dosiahne maximálny limit Requestov pre bezplatné poskytovanie služieb podľa platného cenníka.</li>
                  <li>Za účelom riadneho a optimálneho fungovania služby Datahub, najmä v prípade zmeny parametrov API prevádzkovaných Poskytovateľom alebo v prípade aktualizácie, je Používateľ povinný zodpovedajúcim spôsobom upraviť svoju softvérovú infraštruktúru. O nutnosti a obsahu úprav môže Poskytovateľ informovať Používateľa a to najmä prostredníctvom webového sídla alebo emailovej správy zaslanej na emailovú adresu oznámenú Používateľom.</li>
                  <li>Využívaním služby Datahub podľa týchto Podmienok používania sa Používateľ zaväzuje dodržiavať Podmienky použitia Datasetov, zverejnené na webovej stránke: <a href="https://ekosystem.slovensko.digital/podmienky">https://ekosystem.slovensko.digital/podmienky</a>.</li>
                </ol>
              </li>
            </ol>
          </li>

          <li>
            <strong>Úroveň poskytovania služieb Ekosystému</strong>
            <ol>
              <li>Poskytovateľ sa zaväzuje poskytovať služby Ekosystému nepretržite. Výpadok alebo omeškanie v poskytovaní služieb Ekosystému sa považujú za nedostupnosť služby, ak trvajú nepretržite viac ako 60 minút. Zmluvné strany sa dohodli, že dostupnosť služieb Ekosystému počas jedného kalendárneho mesiaca bude 99% a výpadok alebo omeškanie v poskytovaní služieb Ekosystému v menšom rozsahu nebude braný ako porušenie povinností Poskytovateľa, vyplývajúcich mu z týchto Podmienok používania. Vyňaté z povinnosti poskytovať služby Ekosystému budú (i) všetky udalosti nezapríčinené pochybením Poskytovateľa (vrátane udalostí zapríčinených subdodávateľmi Poskytovateľa), (ii) nevyhnutné úpravy služieb Ekosystému, (iii) aktualizácie, (iv) výpadky na strane Používateľa alebo spôsobené Používateľom, (v) okolnosti vylučujúce zodpovednosť definované v článku 8. týchto Podmienok, (vi) nedostupnosť alebo iné prekážky súvisiace s verejnými registrami, z ktorých údaje pochádzajú.</li>
              <li>V prípade zistenia akéhokoľvek výpadku, je Používateľ povinný o tomto bezodkladne informovať Služby Slovensko.Digital zaslaním emailu na emailovú adresu uvedenú na webovom sídle používanom Službami Slovensko.Digital, ako aj poskytnúť mu potrebnú súčinnosť pri oprave výpadku.</li>
            </ol>
          </li>

          <li>
            <strong>Autorské práva k Softvérovému doplnku</strong>
            <ol>
              <li>Softvérový doplnok je počítačovým programom a podlieha ochrane autorského zákona ako autorské dielo (ďalej len <strong>„Dielo“</strong>). Služby Slovensko.Digital, ako osoba oprávnená na základe licencie, udeľuje Používateľovi sublicenciu na použitie Diela (ďalej len <strong>„sublicencia“</strong>) za podmienok z nej vyplývajúcich. Sublicencia je bezodplatná, nevýhradná, teritoriálne neobmedzená a udeľuje sa na dobu trvania autorských práv k Dielu. Služby Slovensko.Digital udeľujú Používateľovi sublicenciu na použitie Diela všetkými v čase jeho používania známymi spôsobmi používania autorských diel ako aj na spôsoby použitia autorských diel, ktoré nie sú v čase udelenia tohto súhlasu známe, a to v súlade s § 76 Autorského zákona. Poskytovateľ udeľuje Používateľovi sublicenciu najmä na (i) spracovanie diela, (ii) spojenie diela s iným dielom, (iii) zaradenie diela do databázy, (iv) vyhotovenie rozmnoženiny diela, (v) verejné rozširovanie originálu diela alebo rozmnoženiny diela akýmkoľvek spôsobom, (vi) uvedenie diela na verejnosti, verejným vystavením originálu diela alebo rozmnoženiny diela, verejným vykonaním diela alebo verejným prenosom diela.</li>
            </ol>
          </li>
          <li>
            <strong>Odmena za poskytnuté služby Ekosystému</strong>
            <ol>
              <li>Používateľ sa zaväzuje zaplatiť Poskytovateľovi za používanie služieb Ekosystému odmenu v súlade s platným cenníkom Poskytovateľa zverejneným na webovom sídle používanom Poskytovateľom alebo oznámením Používateľovi iným spôsobom, ktorý predstavuje neoddeliteľnú súčasť zmluvného dojednania medzi Službami Slovensko.Digital a Používateľom týkajúceho sa využívania služieb Ekosystému.</li>
              <li>V prípade ak sa v súlade s platným cenníkom odmena Poskytvateľa stanovuje na základe počtu Requestov, ktoré Používateľ odošle do služieb Autoform a/alebo Datahub, počty Requestov sa počítajú pre služby Autoform a Datahub oddelene.</li>
              <li>Odmena za využívanie služieb Ekosystému sa platí za mesačné zúčtovacie obdobie, a to po skončení príslušného kalendárneho mesiaca na základe faktúry vystavenej Službami Slovensko.Digital do pätnástich (15) dní od skončenia tohto kalendárneho mesiaca. Faktúru doručia Služby Slovensko.Digital Používateľovi elektronicky na e-mailovú adresu Používateľa.</li>
              <li>Používateľ je povinný zaplatiť odmenu za poskytnutie služieb Ekosystému v lehote splatnosti určenej faktúrou a spôsobom určeným Službami Slovensko.Digital, a to buď prevodom na bankový účet uvedený vo faktúre alebo – pokiaľ takú možnosť Služby Slovensko.Digital sprístupnia – prostredníctvom platobnej brány identifikovanej na webovom sídle Služieb Slovensko.Digital.</li>
              <li>V prípade, ak sa Používateľ dostane do omeškania s úhradou odmeny alebo jej časti sú Služby Slovensko.Digital oprávnené pozastaviť poskytovanie tej ktorej služby Ekosystému Používateľovi. V prípade omeškania sa s úhradou odmeny o viac ako tridsať (30) dní sú Služby Slovensko.Digital oprávnené od zmluvného vzťahu s Používateľom odstúpiť oznámením zaslaným na emailovú adresu Používateľa.</li>
            </ol>
          </li>

          <li>
            <strong>Záruka a zodpovednosť za vady</strong>
            <ol>
              <li>Používateľ zodpovedá za úpravu svojej softvérovej infraštruktúry v súvislosti s využívaním služieb Ekosystému a v prípade ak si inštaluje Softvérový doplnok do svojej softvérovej infraštruktúry, robí tak na vlastnú zodpovednosť.</li>
              <li>Poskytovateľ nezodpovedá (a) za vady Softvérového doplnku, (b) za jeho funkčnosť, (c) s ohľadom na skutočnosť, že údaje obsiahnuté v databázach prevádzkovaných zo strany Služieb Slovensko.Digital pochádzajú z verejných registrov, nezodpovedajú Služby Slovensko.Digital za správnosť, úplnosť a aktuálnosť týchto údajov, ani (d) za dostupnosť a iné kvantitatívne a kvalitatívne parametre služieb Ekosystému. Služby Slovensko.Digital tiež nezodpovedajú ani za žiadne priame alebo nepriame, materiálne alebo morálne škody akéhokoľvek druhu, ktoré vyplývajú z používania Softvérového doplnku a/alebo služieb Ekosystému, a to najmä za poškodenie dobrého mena, zastavenie prác, zlyhanie alebo nesprávne fungovanie počítača či softvérovej infraštruktúry Používateľa, stratu údajov alebo akúkoľvek inú škodu obchodnej povahy. Používateľ berie na vedomie, že údaje obsiahnuté v databáze pre služby Ekosystému majú len informatívne účely a nie sú právne záväzné. Používateľ berie na vedomie, že údaje obsiahnuté v databáze pre služby Ekosystému pochádzajú z verejne dostupných registrov.</li>
              <li>Poskytovateľ zodpovedá za škodu akéhokoľvek druhu spôsobenú Používateľovi používaním platených služieb Ekosystému (napr. poškodenie dobrého mena, zastavenie prác, ušlý zisk, strata údajov, strata obchodnej príležitosti alebo akákoľvek iná škoda obchodnej povahy) maximálne do súhrnnej výšky 500,- Eur.</li>
              <li>Náhrada škody zo strany Poskytovateľa podľa bodu 7.3 týchto podmienok je obmedzená súhrnnou sumou 100,- Eur v prípade, ak sú služby Ekosystému Slovensko.Digital poskytované bezplatne.</li>
              <li>Žiadna zo zmluvných strán nezodpovedá druhej zmluvnej strane za porušenie povinností spôsobenej treťou stranou, vrátane akéhokoľvek zlyhania využívanej hardwarovej platformy.</li>
            </ol>
          </li>

          <li>
            <strong>Okolnosti vylučujúce zodpovednosť</strong>
            <ol>
              <li>Za okolnosti vylučujúce zodpovednosť sa považuje taká prekážka, ktorá nastala nezávisle od vôle Služieb Slovensko.Digital alebo Používateľa a ktorá im bráni v splnení ich povinnosti, ak nemožno rozumne predpokladať, že by povinná strana túto prekážku alebo jej následky odvrátila alebo prekonala a že by v čase vzniku svojej povinnosti túto prekážku predvídala.</li>
              <li>Za okolnosti vylučujúce zodpovednosť na strane Služieb Slovensko.Digital sa považujú vždy:
                <ol>
                  <li>dlhodobý výpadok elektrickej energie v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa alebo jeho dodávateľa;</li>
                  <li>živelná pohroma alebo iná udalosť zapríčinená vyššou mocou v hlavnej lokalite prevádzkovania systému a serverov Poskytovateľa alebo jeho dodávateľa;</li>
                  <li>softvérové poškodenie systému a infraštruktúry Poskytovateľa alebo jeho dodávateľa, vrátane neznámych agresívnych vírusov;</li>
                  <li>napadnutie infraštruktúry Poskytovateľa alebo jeho dodávateľa zo strany tretích osôb, ktoré má za následok jej nefunkčnosť alebo obmedzenie riadnej funkčnosti;</li>
                  <li>vopred oznámené plánované odstávky a údržba služieb Ekosystému;</li>
                  <li>neposkytnutie požadovanej súčinnosti zo strany Používateľa.</li>
                </ol>
              </li>
            </ol>
          </li>

          <li>
            <strong>Rozhodné právo a dohoda o právomoci súdov</strong>
            <ol>
              <li>Zmluvný vzťah založený medzi Službami Slovensko.Digital a Používateľom v súvislosti s týmito Podmienkami používania sa spravuje zákonom č. 513/1991 Z.z. Obchodným zákonníkom a inými všeobecne záväznými právnymi predpismi Slovenskej republiky bez prihliadnutia na kolízne normy, pričom práva a povinnosti strán bližšie neupravené zmluvnými dojednaniami sa spravujú ustanoveniami Obchodného zákonníka.</li>
              <li>Spory vyplývajúce alebo súvisiace s týmito Podmienkami používania budú prejednávať príslušné súdy Slovenskej republiky.</li>
            </ol>
          </li>

          <li>
            <strong>Prechodné a záverečné ustanovenia</strong>
            <ol>
              <li>Tieto Podmienky používania nadobúdajú účinnosť okamihom ich zverejnenia na webovom sídle <%= link_to 'https://ekosystem.slovensko.digital/podmienky-sluzieb' %> pokiaľ ďalej nie je uvedené inak.</li>
              <li>Služby Slovensko.Digital sú oprávnené zmluvný vzťah ukončiť výpoveďou kedykoľvek bez udania dôvodu, pričom výpoveď nadobúda účinky márnym uplynutím 3 dňovej výpovednej lehoty, ktorá začína plynúť dňom nasledujúcim po dni doručenia písomného oznámenia o vypovedaní zmluvného vzťahu Používateľovi. Používateľ je oprávnený zmluvný vzťah vypovedať kedykoľvek bez udania dôvodu, pričom výpoveď nadobúda účinky márnym uplynutím 30 dňovej výpovednej lehoty, ktorá začína plynúť dňom nasledujúcim po dni doručenia písomného oznámenia o vypovedaní zmluvného vzťahu Službám Slovensko.Digital.</li>
              <li>Zmluvné strany sa dohodli, že za komunikáciu medzi Zmluvnými stranami sa na účely doručovania považuje aj elektronická komunikácia prostredníctvom e-mailovej správy. V prípade akýchkoľvek pochybností ohľadom doručovania písomností druhej Zmluvnej strane sa Zmluvné strany dohodli, že v prípade elektronickej komunikácie sa písomnosť považuje za doručenú najneskôr uplynutím 3. dňa odo dňa odoslania e-mailovej správy Používateľovi a v prípade doručovania písomností prostredníctvom poštovej prepravy sa písomnosť považuje za doručenú uplynutím 7. dňa od odovzdania zásielky na poštovú prepravu.</li>
              <li>Služby Slovensko.Digital sú oprávnené tieto Podmienky používania jednostranne zmeniť, pričom o akejkoľvek zmene v ich obsahu upovedomí Používateľa spravidla 14 dní pred jej účinnosťou zverejnením nového znenia podmienok používania na webovom sídle používanom Službami Slovensko.Digital. V prípade, ak Používateľ písomne oznámi Službám Slovensko.Digital svoj nesúhlas so zmenou podmienok používania pred nadobudnutím účinnosti zmeny, má súčasne právo zmluvný vzťah založený na základe týchto Podmienok používania s okamžitou účinnosťou vypovedať. Ustanovenia tohto bodu sa primerane vzťahujú aj na zmenu cenníka podľa bodu 6.1. týchto Podmienok používania.</li>
              <li>Na základe týchto Podmienok používania Služby Slovensko.Digital neudeľujú súhlas na použitie (i) obchodných mien a iných názvov právnických osôb, (ii) ochranných známok alebo (iii) iných označení využívaných Službami Slovensko.Digital s výnimkou, ak to vyžaduje ich primerané a obvyklé použitie pri označení pôvodcu služby.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-1">
      <%= render 'old_terms_versions_list' %>
    </div>
  </div>
</div>
