<div class="container">
  <section>
    <h1>Ups, niečo sa pokazilo</h1>
    <p class="lead">Naši programátori boli na túto chybu automaticky upozornení a pravdepodobne už pracujú na náprave. <br>
      Ak by sa Vám ale zdalo, že to trvá príliš dlho, <strong><%= mail_to 'podpora@slovensko.digital', 'kontaktujte nás' %></strong>.</p>
  </section>
</div>
