<div class="container">
  <section>
    <h1>Stránka sa nenašla</h1>
    <p class="lead">Na tejto adrese sa nič nenachádza, pravdepodobne sa jedná o nesprávny odkaz. <br>
      Ak ste sa sem dostali z našej stránky prosím <strong><%= mail_to 'podpora@slovensko.digital', 'kontaktujte nás' %></strong>.</p>
  </section>
</div>
