<div class="container">
  <section>
    <h1>Akcia na stránke nebola povolená</h1>
    <p class="lead">Pravdepodobne nemáte oprávnenie na jej vykonanie. <br>
      Ak ste nerobili nič neočakávané prosím <strong><%= mail_to 'podpora@slovensko.digital', 'kontaktujte nás' %></strong>.</p>
  </section>
</div>
