<div><strong>Staršie verzie podmienok</strong></div>
<ul class="list-unstyled">
  <li><%= link_to 'platné od 01.04.2022 do 13.06.2023', terms_v2_services_govbox_api_index_path %></li>
  <li><%= link_to 'platné od 17.10.2019 do 31.03.2022', terms_v1_services_govbox_api_index_path %></li>
</ul>
