@import "services/govbox";
@import "autoform";

// navbar
.navbar {
  .navbar-right a {
    color: #333;
  }

  border-bottom: 1px solid lightgray;
}

.badge {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#header mark {
  padding: 0.1rem 0.25rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #f9fad2;
}

// colors
.badge-danger {
  background-color: #cb3235;
}


// fonts
h1 .badge {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 1.3rem;
}


// utils
@media (min-width: 972px) {
  .lead-short {
    max-width: 25rem;
  }
}

// btn

.btn-primary {
  background-color: #376ee5;
}

.btn-xl {
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
}

// custom
h1 .badge {
  padding: 0.7rem 0.7rem;
  position: relative;
  vertical-align: top;
}

// responsive typography

@media (min-width: 0px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .footer .pull-right.icons {
    float: none;
    text-align: center;
  }

  table.table-pricing td,
  table.table-pricing th {
    padding: 1rem;
  }
}