[data-toggle="tooltip"] {
  cursor: help;
  position: relative;
  background: #eaeaea;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

[data-toggle="tooltip"] span {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  z-index: 999;
  width: 300px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.15);
  background-color: white;
}

[data-toggle="tooltip"]:hover {
  border: 0; /* IE6 fix */
}

[data-toggle="tooltip"]:hover span {
  visibility: visible;
}

[data-toggle="tooltip"] span:before {
  border-top-color: #ccc;
  bottom: -8px;
}